mixin ui__mainslider_tpl(_image, _title, _link, _desc)
    .ui__mainslider_img_wrap
        img(src=_image alt=_title class="ui__mainslider_img")
        .ui__mainslider_count
            span.ui__mainslider_count_cur.js_mainslider_cur 1
            span.ui__mainslider_count_all.js_mainslider_all / 2

    .ui__mainslider_inner
        .ui__mainslider_title!= _title
        .ui__mainslider_desc!= _desc
        a(href=_link class="ui__btn ui__mainslider_btn") Подробнее


mixin ui__mainslider_item(item)
    - item = item || {}
    - item.img = item.img || ''
    - item.title = item.title || ''
    - item.link = item.link || ''
    - item.desc = item.desc || ''

    +ui__mainslider_tpl(item.img, item.title, item.link, item.desc)


mixin ui__mainslider(...items)
    each item in items
        .ui__mainslider_item
            .grid.grid--container
                .row
                    .col.col--xs-12
                        .ui__mainslider_box
                            +ui__mainslider_item(item)