mixin ui__prodgrid_tpl(_height, is_linked, _img, _title, _link)
    if is_linked
        a.ui__prodgrid_item.js_catpreview(href=_link)
            .ui__prodgrid_pic_wrap(class="ui__prodgrid_pic_wrap-" + _height)
                img(src=_img alt=_title class="ui__prodgrid_pic")
            .ui__prodgrid_title!=_title
    else
        a.ui__prodgrid_item(href=_link)
            .ui__prodgrid_pic_wrap(class="ui__prodgrid_pic_wrap-" + _height)
                img(src=_img alt=_title class="ui__prodgrid_pic")
            .ui__prodgrid_title!=_title



mixin ui__prodgrid_item(count, _height, is_linked, item)
    - item = item || {}
    - item.img = item.img || ''
    - item.title = item.title || ''
    - item.link = item.link || ''

    .col(class="col--md-" + count).col--sm-6.col--xs-12
        +ui__prodgrid_tpl(_height, is_linked, item.img, item.title, item.link)

mixin ui__prodgrid(_cols, _height, is_linked, ...items)
    - var count = 12 / _cols;
    - is_linked = is_linked || false

    .row.ui__prodgrid_row
        each item in items
            +ui__prodgrid_item(count, _height, is_linked, item)