.ui__advantages
    .row
        .col.col--md-4.col--sm-6.col--xs-12
            .ui__advantages_item
                i.ui__advantages_ico.ui__icon-diamond
                .ui__advantages_title Качество
                .ui__advantages_desc
                    p Экологические материалы европейского стандарта безопасности
                    p Высокотехнологичное <br>оборудование
                    p Гарантия 2 года

        .col.col--md-4.col--sm-6.col--xs-12
            .ui__advantages_item.ui__advantages_item-blue
                i.ui__advantages_ico.ui__icon-flag
                .ui__advantages_title Процесс работы
                .ui__advantages_desc
                    p Весь ассортимент фасадов различных материалов, фактур, форм, размеров и стилей — у одного поставщика
                    p Берем заказы любой сложности и нестандарт — без доплат
                    p Огромное количество дизайнерских решений

        .col.col--md-4.col--sm-6.col--xs-12
            .ui__advantages_item
                i.ui__advantages_ico.ui__icon-hands
                .ui__advantages_title Выгоды
                .ui__advantages_desc
                    p Интересы клиентов — наша ценность
                    p Статусные скидки и специальные предложения
                    p Выгодные условия доставки