mixin ui__prodslider_tpl(_height, _img, _title, _link)
    a.ui__prodslider_item.ui__prodgrid_item(href=_link)
        .ui__prodgrid_pic_wrap(class="ui__prodgrid_pic_wrap-" + _height)
            img(src=_img alt=_title class="ui__prodgrid_pic")
        .ui__prodgrid_title!=_title


mixin ui__prodslider_item(_height, item)
    - item = item || {}
    - item.img = item.img || ''
    - item.title = item.title || ''
    - item.link = item.link || ''

    +ui__prodslider_tpl(_height, item.img, item.title, item.link)

mixin ui__prodslider(_height, ...items)
    each item in items
        +ui__prodslider_item(_height, item)