mixin ui__production(_img, _title, _link)
    .ui__production_item
        a(href=_link class="ui__production_link")
            .ui__production_pic
                img(src=_img alt=_title class="ui__production_img")
            .ui__production_title!=_title

.col.col--md-6.col--sm-6.col--xs-12
    .ui__production_col
        .ui__production_item.ui__production_item-infographic
            .ui__production_count 234
            .ui__production_desc Модели в каталоге

        +ui__production(IMG_PATH + 'production/prod1.jpg', 'Фасады', '#')
        +ui__production(IMG_PATH + 'production/prod3.jpg', 'Сопутствующие', '#')

.col.col--md-6.col--sm-6.col--xs-12
    .ui__production_col.ui__production_col-margined
        +ui__production(IMG_PATH + 'production/prod2.jpg', 'Цвета', '#')
        +ui__production(IMG_PATH + 'production/prod4.jpg', 'Декор', '#')

        .ui__production_item.ui__production_item-infographic
            .ui__production_count 2
            .ui__production_desc Года гарантии