mixin ui__news_tpl(_image, _date, _title, _link, _is_info)
    article.ui__news_item
        a.ui__news_img_wrap(href=_link)
            img(src=_image alt!=_title class="ui__news_img")
        if !_is_info
            .ui__news_date
                i.ui__icon.ui__icon-date
                span=_date
        a.ui__news_title(href=_link)!=_title


mixin ui__news_item(count, item)
    - item = item || {}
    - item.img = item.img || ''
    - item.date = item.date || ''
    - item.title = item.title || ''
    - item.link = item.link || ''
    - item.is_info = item.is_info || false

    .col(class="col--md-" + count).col--sm-6.col--xs-12
        +ui__news_tpl(item.img, item.date, item.title, item.link, item.is_info)

mixin ui__news(_cols, ...items)
    - var count = 12 / _cols;

    .row.ui__news_row
        each item in items
            +ui__news_item(count, item)