mixin ui__imgslider_tpl(_showtitle, _image, _alt)
    - _show_title = _show_title || false

    .ui__imgslider_item
        img(src=_image alt=_alt class="ui__imgslider_pic")
        if _showtitle
            .ui__imgslider_title!=_alt

mixin ui__imgslider_item(_showtitle, item)
    - item = item || {}
    - item.img = item.img || ''
    - item.alt = item.alt || ''
    - item.showtitle = item.showtitle || ''

    +ui__imgslider_tpl(_showtitle, item.img, item.alt, item.showtitle)

mixin ui__imgslider(_showtitle, ...items)
    each item in items
        +ui__imgslider_item(_showtitle, item)