mixin ui__timeslider_tpl(_count, _text)
    .ui__timeslider_item
        .ui__timeslider_count!=_count
        .ui__timeslider_text!=_text

mixin ui__timeslider_item(item)
    - item = item || {}
    - item.count = item.count || ''
    - item.text = item.text || ''

    +ui__timeslider_tpl(item.count, item.text)

mixin ui__timeslider(...items)
    each item in items
        +ui__timeslider_item(item)