mixin ui__reviews_tpl(_avatar, _name, _company, _text, _year, _logo, _picture)
    .row
        .col.col--md-8
            article.ui__reviews_wrapper
                header.ui__reviews_profile
                    .ui__reviews_profile_pic_wrap
                        img(src=_avatar alt=_name class="ui__reviews_profile_pic")
                    .ui__reviews_profile_info
                        .ui__reviews_profile_company!=_company
                        .ui__reviews_profile_name!=_name

                .ui__reviews_text!=_text

                footer.ui__reviews_footer
                    .ui__reviews_footer_item
                        .ui__reviews_year=_year
                        .ui__reviews_yeartext Год начала сотрудничества
                    .ui__reviews_footer_item
                        img(src=_logo alt=_company class="ui__reviews_company")

        .col.col--md-4
            .ui__reviews_picture_wrap
                img(src=_picture alt=_company class="ui__reviews_picture")


mixin ui__reviews_thumbs_item(item)
    - item = item || {}
    - item.avatar = item.avatar || ''
    - item.name = item.name || ''

    button(class="owl-thumb-item ui__reviews_thumb")
        img(src=item.avatar alt=item.name class="ui__reviews_thumb_pic")

mixin ui__reviews_thumbs(...items)
    each item in items
        +ui__reviews_thumbs_item(item)

mixin ui__reviews_item(item)
    - item = item || {}
    - item.avatar = item.avatar || ''
    - item.name = item.name || ''
    - item.company = item.company || ''
    - item.text = item.text || ''
    - item.year = item.year || ''
    - item.logo = item.logo || ''
    - item.picture = item.picture || ''

    +ui__reviews_tpl(item.avatar, item.name, item.company, item.text, item.year, item.logo, item.picture)


mixin ui__reviews(...items)
    each item in items
        .ui__reviews_item
            .grid.grid--container
                +ui__reviews_item(item)