.catalog
  &__section
    &:not(:last-child)
      margin-bottom: 90px

    &:last-child
      margin-bottom: 150px

  &__prodgrid
    margin-top: 60px

    &_more
      text-align: center
      margin-top: 40px

    &_btn
      display: inline-block
      width: 190px
      padding: 11px 21.5px
