.contacts
  &__item
    display: flex
    min-height: 240px
    background: #FFFFFF
    box-shadow: 0 26px 70px rgba(24, 31, 81, .07)
    margin-bottom: 12px

    &-nopic
      padding-left: 30px

    &_pic
      max-width: 100%

      &_wrap
        display: flex
        align-content: flex-end
        min-width: 200px
        overflow: hidden

    &_inner
      display: flex
      flex-direction: column
      justify-content: space-between
      flex-grow: 1
      padding: 30px 40px 40px 0

    &_name
      font-weight: font-extrabold

    &_post
      color: #92A2B2
      font-size: rem-calc(14px)

    &_link
      display: table
      color: color-main

  &__map
    height: 640px