.index
  &__slider
    position: relative

    &_under
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 497px
      overflow: hidden
      background: #FFFFFF
      box-shadow: 0 26px 80px rgba(24, 31, 81, 0.08)
      z-index: 1

      &:after
        display: block
        content: 'Пастернак'
        position: absolute
        text-transform: uppercase
        font-size: rem-calc(260px)
        font-weight: font-extrabold
        color: #F2F4F7
        line-height: rem-calc(200px)
        bottom: 0
        left: 50%
        opacity: .5
        text-align: center
        centerer(true, false)

  &__manufacturing
    &_wrapper
      display: flex
      position: relative
      flex-direction: column
      box-shadow: 0 29px 108px rgba(24, 31, 81, .12)
      z-index: 1

    &_img
      height: 100%

      &_wrap
        overflow: hidden
        height: 500px

    &_info
      display: flex
      justify-content: space-between
      padding: 20px 0 30px
      color: #FFFFFF
      background: linear-gradient(101.13deg, #5173B2 0.3%, #202061 99.03%)

      &_item
        position: relative
        width: 50%
        padding: 0 30px
        flex-grow: 1

        &:last-child:before
          display: block
          content: ''
          position: absolute
          top: 0
          left: 0
          width: 1px
          height: 100%
          background: #FFFFFF
          opacity: .2


    &_count
      font-size: rem-calc(60px)
      line-height: rem-calc(66px)
      font-weight: font-extrabold
      font-style: italic
      margin-bottom: 5px

      sup
        font-size: rem-calc(30px)
        padding-left: 4px

    &_ico
      display: block
      margin-bottom: 25px

    &_content
      position: relative
      width: 470px
      margin-top: 60px
      margin-left: -85px
      padding: 40px 30px 50px
      background: #FFFFFF
      box-shadow: 0 29px 108px rgba(24, 31, 81, .12)
      z-index: 2


  &__promo
    .row
      margin-bottom: 0

    &_wrapper
      position: relative
      padding: 30px
      background: #FFFFFF
      box-shadow: 0 29px 108px rgba(24, 31, 81, .12)

    &_text
      color: #000000
      margin-bottom: 20px
      width: 45%

    &_btn
      display: inline-block
      padding: 8px 30px
      color: #FFFFFF
      background: color-red

    &_pic
      position: absolute
      top: -160px
      right: -40px

  &__seo
    &_wrapper
      position: relative
      padding: 50px 70px 50px 30px
      background: #FFFFFF
      box-shadow: 0 29px 108px rgba(24, 31, 81, .12)
      z-index: 2

    &_title
      display: block
      font-size: rem-calc(40px)
      line-height: rem-calc(50px)
      font-weight: font-extrabold
      margin-bottom: 40px

    p
      display: block

    .col
      position: relative

    &_door
      display: block
      position: absolute

      &-door1
        width: 260px
        height: 300px
        right: -170px
        top: 75px
        z-index: 1

      &-door2
        width: 360px
        height: 450px
        right: -250px
        top: 240px
        z-index: 3

      &-door3
        width: 250px
        height: 310px
        bottom: 120px
        right: -255px
        z-index: 3

      &-door4
        width: 320px
        height: 370px
        bottom: -45px
        right: -195px
        z-index: 1
