.news
  &__content
    margin-top: 30px

  &__promo

    &_pic
      height: 100%

      &_wrap
        position: relative
        overflow: hidden
        height: 630px
        width: calc(100% + 30px)
        z-index: 1

    &_inner
      position: relative
      width: calc(100% + 30px)
      margin-left: -30px
      margin-top: 30px
      background: #FFFFFF
      box-shadow: 0 29px 108px rgba(24, 31, 81, .12)
      z-index: 2

    &_header
      color: #FFFFFF
      background: linear-gradient(95.77deg, #5173B2 0.3%, #202061 99%)
      padding: 17px 30px

    &_content
      padding: 30px 30px 50px

    &_title
      margin-bottom: 20px

    &_btn
      display: inline-block
      width: 230px

