.product
  &__section
    &:not(:last-child)
      margin-bottom: 90px

    &:last-child
      margin-bottom: 150px

  &__preview
    position: relative
    margin-bottom: 190px

  &_pic
    display: block

    &_wrap
      overflow: hidden
      margin-bottom: 30px

  &__box
    position: relative

  &_pdf
    display: block
    position: relative
    padding-left: 60px
    color: color-main
    border: none
    margin-bottom: 40px

    &:before
      display: block
      content: ''
      position: absolute
      left: 0
      top: 5px
      width: 40px
      height: 50px
      background: url('../img/icons/pdf.svg') no-repeat center

    &_size
      display: block
      color: #8f8f8f
      font-size: rem-calc(16px)

  &_btn
    display: inline-block
    width: 200px

  &__slider
    margin-bottom: 30px

  &__var
    &_pic
      display: block
      max-width: 100%
      margin-bottom: 10px

    &_title
      font-size: rem-calc(16px)
      line-height: rem-calc(20px)
      font-weight: font-semibold


  &__dop
    &_pic
      display: block
      max-width: 100%
      margin-bottom: 20px

    &_title
      color: color-blue
      font-weight: font-bold


  &__colors
    display: flex
    margin-top: 50px

    &_item
      display: block
      width: 70px
      height: 70px
      overflow: hidden
      text-align: center
      vertical-align: middle
      margin: 0 15px
      border: none

      &.active
        border: 3px solid color-red

      &:first-child
        margin-left: 0
      &:last-child
        margin-right: 0

    &_pic
      display: inline-block