*
  box-sizing border-box
  margin 0
  padding 0

body
  display: flex
  flex-direction: column
  font-family: base-font-family
  color: color-main
  line-height: base-line-height

html
  font-size: base-font-size

body, html
  padding: 0
  border: 0
  vertical-align: baseline
  height: 100%
  width: 100%

//- Выделение
::-moz-selection
  background: base-selection-color
  color: white
  text-shadow: none

::selection
  background: base-selection-color
  color: white
  text-shadow: none

// browsehappy
.browsehappy
  display: block
  margin: 0
  padding: 30px
  text-align: center
  background: color-red
  color: #FFFFFF
  font-size: rem-calc(18px)
  line-height: rem-calc(22px)

  a, a:hover
    color: #FFFFFF
    text-decoration: underline


//- Заголовки
h1, h2, h3, h4, h5, h6
  margin: 0

h1
  font-weight: font-extrabold
  font-size: rem-calc(56px)
  line-height: rem-calc(70px)

h2
  font-weight: font-extrabold
  font-size: rem-calc(40px)
  line-height: rem-calc(50px)

h3
  font-weight: font-extrabold
  font-size: rem-calc(24px)
  line-height: rem-calc(30px)



//- Ссылки
a
  position: relative
  text-decoration: none
  color: color-blue
  border-bottom: 2px solid transparent
  transition: color .15s ease

  /*&:not(.ui__btn):after
    display: none
    position: absolute
    content: ''
    bottom: -5px
    left: 0
    width: 100%
    height: 2px
    background: color-red
    transition: color .15s ease
*/
  &:not(.ui__btn):hover
    border-color: color-red
    /*&:after
      display: block*/

//- Списки
ul, li
  margin 0
  padding 0
  list-style-type none


//- Кнопки
button
  box-shadow: none
  border: none

  &.ui__btn
    background: transparent
    color: color-main

    &:hover
      color: #FFFFFF

a.ui__btn:hover
  color: #FFFFFF

.ui__btn
  cursor: pointer
  padding: 7px 21.5px
  color: color-blue
  font-size: rem-calc(15px)
  font-weight: font-bold
  text-align: center
  box-shadow: none
  border: 3px solid color-blue
  transition: all .25s ease
  outline: none

  &:hover
    background: color-blue

  &.success
    color: color-green
    background: transparent
    border-color: color-green

    &:hover
      background: transparent

  &.disabled
    background: transparent
    border-color: color-gray
    cursor: not-allowed
    pointer-events: all !important

  &-red
    color: color-main
    border-color: color-red

    &:hover
      background: color-red

//- Текст
sup
  vertical-align: super

p:not(:last-child)
  margin-bottom: 25px

blockquote
  display: block
  padding: 40px
  border: 3px solid color-red
  background: #FFFFFF
  box-shadow: 0 26px 70px rgba(24, 31, 81, .07)
  font-size: rem-calc(24px)
  line-height: rem-calc(40px)
  margin-top: 22px


//- Элементы форм
label
  display: block
  font-size: rem-calc(16px)
  line-height: rem-calc(20px)
  margin-bottom: 10px

  &.error
    display: none !important

input, textarea, button
  outline none

input
  line-height: initial

  &.error, &:focus.error
    border-color: color-red

input, textarea
  background: #FFFFFF
  padding: 10px 20px
  border: 3px solid #D6DBE6
  line-height: 1
  transition: all .25s ease

  +placeholder()
    color: #D6DBE6
    opacity: 1

  &:focus
    border-color: color-main


input[type="search"]
  -webkit-appearance: none

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration
  -webkit-appearance: none

textarea
  width 100%
  resize none

  &.error, &:focus.error
    border-color: color-red

fieldset
  border none
  margin: 0
  padding: 0


//- Слайдеры
.owl
  &-dots
    display: flex
    position: absolute
    bottom: 20px
    left: 0
    width: 100%
    justify-content: center

  &-dot
    margin: 0 5px

    &:first-child
      margin-left: 0

    &:last-child
      margin-right: 0

    &.active span
      background: #FFFFFF

    span
      display: block
      width: 5px
      height: 5px
      border: 1px solid #FFFFFF
      border-radius: 100%

  &-nav
    display: flex
    position: absolute
    justify-content: space-between
    width: 100%
    top: 45%
    left: 0
    transform: translate(-50% 0)

  &-prev, &-next
    position: relative
    width: 17px;
    height: 40px;
    background: url("../img/arrow.svg")
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    transition: .35s all linear

    &.disabled
      opacity: .5
      cursor: not-allowed !important
      pointer-events: all !important

  &-prev
    left: 60px
  &-next
    right: 60px

  &-prev
    transform: scale(-1, 1)


.main
  background: color-bg
  flex-grow: 1

.section
  &:last-child
    padding-bottom: 150px

  &:not(:last-child)
    margin-bottom: 150px

  &__header
    margin-bottom: 50px
    font-size: rem-calc(56px)
    line-height: rem-calc(70px)



//- UI CONTENT
.ui__content
  &_news
    margin-top: 10px

    .ui__content_subheader
      margin-top: 0 !important
      margin-bottom: 0 !important

  &_date
    color: #92A2B2
    font-size: rem-calc(16px)
    line-height: rem-calc(22px)


  &_header
    margin-top: 80px
    margin-bottom: 50px

    &-bread
      margin-top: 50px
      margin-bottom: 60px

  &_subtitle
    margin-bottom: 30px

  &_subheader
    margin-bottom: 30px

    &:not(:first-child)
      margin-top: 40px

  &_row
    &:not(:last-child):not(:first-child)
      margin-bottom: 40px

  &_slider
    margin-top: 40px

  &_section
    &:not(:last-child)
      margin-bottom: 90px

    &:last-child
      margin-bottom: 150px
      overflow: hidden

  &_nav
    display: flex
    margin-top: 50px

    &_item
      display: block
      margin: 0 15px

      &:first-child
        margin-left: 0

      &:last-child
        margin-right: 0

    &_link
      color: color-blue

  &_list
    display: block

    li
      display: block
      position: relative
      padding-left: 25px

      &:not(:last-child)
        margin-bottom: 15px

      &:before
        display: block
        content: '—'
        position: absolute
        color: color-red
        top: 0
        left: 0
        font-weight: font-bold

  &_pic
    max-width: 100%

    &_wrap
      margin-top: 12px
      margin-bottom: 40px

  &_card
    background: #FFFFFF
    padding: 30px 40px 30px 30px
    box-shadow: 0 26px 70px rgba(24, 31, 81, .07)
    min-height: 200px

    &_wrap
      margin-bottom: 50px

    &_row
      margin-bottom: 30px

      .col
        padding-top: 30px

    &_ico
      display: block
      margin-bottom: 30px

//- хлебные крошки
.ui__breadcrumbs
  &_list
    display: flex

  &_item
    display: block
    font-weight: font-bold
    color: color-main

    &:not(:last-child):after
      display: inline
      content: '/'
      margin: 0 5px
      color: color-blue

    &:first-child
      margin-left: 0

    &:last-child
      margin-right: 0

.ui__card
  padding: 25px 30px 30px
  background: #FFFFFF
  box-shadow: 0 26px 70px rgba(24, 31, 81, .07)

  &-topped
    margin-top: 80px

  &_count
    font-size: rem-calc(60px)
    line-height: rem-calc(70px)
    font-weight: font-extrabold
    font-style: italic
    margin-bottom: 10px

  ul
    margin-top: 20px
    padding-right: 30px

  &_section
    &:not(:last-child)
      margin-bottom: 40px

  &_header
    margin-bottom: 20px

  &_item
    &:not(:last-child)
      margin-bottom: 20px

    &_date
      color: #92A2B2
      font-size: rem-calc(14px)
      line-height: rem-calc(19px)

    &_link
      color: color-main

// 404
.ui__404
  margin-top: 110px
  margin-bottom: 150px

  &_digits
    color: #FFFFFF
    text-shadow: 0 26px 70px rgba(24, 31, 81, .07)
    font-size: rem-calc(360px)
    line-height: 1
    font-weight: font-extrabold
    margin-bottom: 50px

  &_title
    margin-bottom: 50px

  &_btn
    display: inline-block


// Checkbox
.ui__checkbox
  position: relative
  vertical-align: middle

[type=checkbox]:checked+label.ui__checkbox_lbl, [type=checkbox]:not(:checked)+label.ui__checkbox_lbl
  position: relative
  padding-left: 40px
  cursor: pointer
  display: inline-block

[type=checkbox]:checked+label.ui__checkbox_lbl:after
  opacity: 1
  transform: scale(1)

[type=checkbox]:not(:checked)+label.ui__checkbox_lbl:after
  opacity: 0
  transform: scale(0)

[type=checkbox]:checked+label.ui__checkbox_lbl:before
  background: #495AA5

[type=checkbox]:checked+label.ui__checkbox_lbl:before, [type=checkbox]:not(:checked)+label.ui__checkbox_lbl:before
  display: block
  content: ''
  position: absolute
  left: 0
  top: -2px
  width: 23px
  height: 23px
  border: 2px solid #495AA5

[type=checkbox]:checked+label.ui__checkbox_lbl:after, [type=checkbox]:not(:checked)+label.ui__checkbox_lbl:after
  display: block
  position: absolute
  content: ''
  width: 23px
  height: 23px
  background-image: url(../img/check.svg)
  background-repeat: no-repeat
  background-position: center
  top: -1px
  left: 1px
  transition: all .2s

[type=checkbox]:checked, [type=checkbox]:not(:checked)
  position: absolute
  left: -9999px



.grid
  &.no-padding
    padding: 0

    .row
      margin-left: 0
      margin-right: 0

    .col
      padding-left: 0
      padding-right: 0


@keyframes fadeOut {
  0% {
    opacity: 1
  }
  to {
    opacity: 0
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes submenu {
  0% {
    transform: rotateX(50deg);
    animation-timing-function: ease-in
    opacity: 0
  }

  to {
    transform: none
    opacity: 1
  }
}