.footer
  background: #FFFFFF
  padding: 50px 0 60px

  &__logo
    max-width: 149px

  &__nav
    display: flex
    flex-direction: column
    flex-wrap: wrap
    margin-top: -6px
    height: 210px

    &_item
      display: block
      margin: 6px 30px 6px 0
      min-width: 169px

      &_link
        color: color-main

  &__call
    display: block
    width: 190px
    margin-bottom: 20px

  &__phone
    display: block
    color: color-main
    font-weight: font-bold
    font-size: rem-calc(24px)
    margin-bottom: 30px

    &:hover
      border-color: transparent !important
      &:after
        display: none !important

  &__mail, &__address
    display: block
    color: color-main

    &:hover
      border-color: transparent !important

      &:after
        display: none !important

  &__mail
    margin-bottom: 6px

  &__address
    margin-bottom: 30px

  &__social
    display: flex

    &_item
      display: block
      margin: 0 10px

      &:first-child
        margin-left: 0

      &:last-child
        margin-right: 0

      &_link
        display: block