.header
  position: relative
  z-index: 50

  .header__m_menu, .header__m_footer
    display: none

  &.fix
    .header__main
      position: fixed
      width: 100%
      top: 0
      left: 0

    .header__submenu
      top: 65px

  &__top
    background: #FFFFFF

    .grid
      padding-top: 10px
      padding-bottom: 9px
      border-bottom: 1px solid #F2F4F7

  &__menu
    display: flex
    line-height: rem-calc(20px)

    &_item
      display: block
      margin: 0 10px
      line-height: 1rem

      &:first-child
        margin-left: 0

      &:last-child
        margin-right: 0

      &_link
        font-size: rem-calc(14px)
        color: color-main

  &__contacts
    display: flex
    justify-content: flex-end
    line-height: rem-calc(20px)

    &_address, &_mail
      display: block
      font-size: rem-calc(14px)
      color: color-main

    &_address
      margin-right: 18px

  &__main
    background: #FFFFFF
    padding: 20px 0
    box-shadow: 0 26px 70px rgba(24, 31, 81, .07)

    &_left
      display: flex
      align-items: center

    &_right
      display: flex
      align-items: center
      justify-content: flex-end
      height: 100%

  &__logo
    display: flex
    align-items: center
    position: relative
    z-index: 11

    &:hover
      border-color: transparent !important

      &:after
        display: none !important

    &_img
      max-width: 100%

  &__nav
    margin-left: 34px

    &_inner
      display: flex

    &_item
      display: block
      margin: 0 7.5px

      &-caret
        padding-right: 15px

        .header__nav_link
          position: relative

          &:hover
            &:after
              display: none

          &:before
            display: block
            content: ''
            position: absolute
            top: 15px
            right: -15px
            width: 10px
            height: 6px
            background: url("../img/chevron.svg") center center no-repeat

        &:hover
          .header__nav_link:after
            display: block !important

          .header__submenu
            display: block


      &:first-child
        margin-left: 0

      &:last-child
        margin-right: 0

    &_link
      display: block
      position: relative
      font-size: 1rem
      font-weight: font-bold
      color: color-main

      &:after
        display: none
        position: absolute
        content: ''
        bottom: -5px
        left: 0
        width: 100%
        height: 3px
        background: color-red
        transition: color .15s ease

      &:hover
        border-color: transparent !important

        &:after
          display: block

  &__call
    position: relative
    z-index: 11


  &__phone
    display: block
    font-weight: font-bold
    color: color-main
    margin-right: 18px

    &:hover:after
      display: none !important


  &__submenu
    display: none
    position: absolute
    width: 100%
    left: 0
    top: 107px
    padding: 78px 0 100px
    background: #FFFFFF
    animation: submenu .2s ease
    box-shadow: 0 26px 70px rgba(24,31,81,.07)
    z-index: 10

    &_item
      display: block
      position: relative

      &:hover
        border: none

        &:after
          display: block
          content: ''
          position: absolute
          top: 20px
          left: -25px
          width: 100%
          height: 100%
          background: #FFFFFF
          box-shadow: 0 29px 108px rgba(24, 31, 81, .12)
          animation: fadeIn .2s ease
          z-index: -1

        .header__submenu_title
          border-color: color-red

        .header__submenu_pic
          transform: scale(1.1)

    &_pic
      display: block
      height: 100%
      transition: all .85s ease

      &_wrap
        height: 270px
        overflow: hidden
        margin-bottom: 20px


    &_title
      display: inline-block
      line-height: rem-calc(50px)
      font-weight: font-bold
      color: color-main
      border-bottom: 3px solid transparent
      transition: all .25s ease

      &:hover:after
        display: none !important



  &__m
    &_toggle
      display: none
      width: 30px
      height: 23px
      background-image: url("../img/burger.svg")
      background-repeat: no-repeat
      background-position: center
      border: none

      &.open
        background-image: url("../img/close.svg")

    &_call
      display: none
      flex-grow: 2
