.ui__icon
  background-size: 100%
  background-position: center
  background-repeat: no-repeat

  &-sertificate
    width: 45px
    height: 45px
    background-image: url('../img/icons/sertificate.svg')

  &-note
    width: 45px
    height: 54px
    background-image: url('../img/icons/note.svg')

  &-cup
    width: 38px
    height: 39px
    background-image: url('../img/icons/cup.svg')

  &-shield
    width: 30px
    height: 42px
    background-image: url('../img/icons/shield.svg')

  &-check
    width: 38px
    height: 38px
    background-image: url('../img/icons/check.svg')

  &-molecule
    width: 39px
    height: 35px
    background-image: url('../img/icons/molecule.svg')

  &-hands
    width: 80px
    height: 80px
    background-image: url('../img/icons/hands.svg')

  &-diamond
    width: 80px
    height: 80px
    background-image: url('../img/icons/diamond.svg')

  &-flag
    width: 80px
    height: 80px
    background-image: url('../img/icons/flag.svg')

  &-calendar
    width: 44px
    height: 44px
    background-image: url('../img/icons/calendar.svg')

  &-idea
    width: 31px
    height: 46px
    background-image: url('../img/icons/idea.svg')

  &-target
    width: 44px
    height: 45px
    background-image: url('../img/icons/target.svg')

  &-date
    width: 16px
    height: 14px
    background-image: url('../img/icons/date.svg')

  &-temp
    width: 55px
    height: 60px
    background-image: url('../img/icons/temp.svg')