@media screen and (min-width: 991px) and (max-width: 1175px)
  .header__main_right .header__call
    display: block
    padding-left: 8px
    padding-right: 8px

  .header__phone
    font-size: rem-calc(14px)

  .header__nav_inner
    align-items: center

  .header__nav_link
    font-size: rem-calc(14px)
    line-height: rem-calc(22px)

  .header__nav_item-caret .header__nav_link:before
    top: 9px

  .header__menu
    align-items: center
    height: 100%

  .header__submenu
    top: 123px

  .header__contacts
    align-items: center


@media screen and (max-width: 991px)
  .m_hidden
    display: none

  .main
    padding-top: 0

  .ui__mainslider_box
    position: relative
    padding-bottom: 220px

  .ui__mainslider_inner
    max-width: none
    position: absolute
    bottom: 0
    left: 15px
    width: calc(100% - 30px)
    background: #FFFFFF

  .ui__mainslider_count
    display: none

  .ui__mainslider_img_wrap
    max-height: 500px

  .ui__mainslider_img
    height: auto

  .owl-nav
    top: 35%

  .ui__mainslider_title
    font-size: rem-calc(24px)
    line-height: rem-calc(30px)
    margin-bottom: 20px

  .ui__mainslider_desc
    font-size: rem-calc(18px)
    line-height: rem-calc(30px)
    margin-bottom: 40px
    max-height: none

  .header__top
    display: none

  .header__logo
    max-width: 150px

    &_wrap
      display: flex
      justify-content: space-between
      align-items: center
      width: 100%

  .header__main_left
    flex-direction: column
    align-items: stretch

  .header__main
    position: relative
    padding-left: 5px
    padding-right: 5px

  .header__m
    &_toggle
      display: block

    &_call
      display: block
      position: relative
      margin-top: 20px
      z-index: 1

    &_menu
      display: block
      margin-bottom: 27.5px

      &_item
        display: block
        margin: 7.5px 0

        &_link
          color: color-main
          font-size: rem-calc(14px)
          line-height: rem-calc(20px)

    &_footer
      margin-top: 35px

  .header__nav
    display: none
    position: absolute
    width: 100%
    height: calc(100vh - 62px)
    overflow: hidden
    top: 62px
    left: 0
    background: #FFFFFF
    margin-left: 0
    padding: 42.5px 20px 40px
    z-index: 5

    &.show
      display: block

  .header.fix .header__submenu
    top: 0

  .header__nav
    &_inner
      flex-direction: column

    &_item
      margin: 5px 0

    &_link
      &:before
        left: 110px

      &:after
        visibility: hidden

  .header__nav_item-caret:hover .header__submenu:not(.show)
    display: none

  .header__submenu
    position: relative
    top: 0
    padding: 20px 0 30px
    box-shadow: none

    &.show
      display: block

    .grid
      padding: 0

    &_item:hover:after
      display: none

    &_pic_wrap
      height: 130px
      margin-bottom: 10px

      img
        height: 100%

    &_title
      line-height: 26px

  .header .header__m_footer, .header .header__m_menu
    display: block

  .section__header
    margin-bottom: 30px
    font-size: rem-calc(28px)
    line-height: rem-calc(30px)

  .section:not(:last-child)
    margin-bottom: 90px


@media screen and (min-width: 760px) and (max-width: 991px)
  .ui__advantages_item:not(.ui__advantages_item-blue)
    margin-top: 0
    width: 90%

  .ui__advantages_item-blue, .ui__advantages .col:last-child .ui__advantages_item
    margin-left: 0

  .index__manufacturing_img
    height: auto
    width: 100%

  .index__manufacturing_content
    width: 80%
    margin-top: 30px
    margin-left: auto
    margin-right: auto

  .ui__reviews_picture_wrap, .index__seo_doors
    display: none

  .ui__reviews_gallery .owl-nav
    display: none

  .index__promo_wrapper
    padding-bottom: 100px

  .index__promo_pic
    top: -50px
    right: 50px
    width: 400px

    img
      width: 100%

  .ui__news_img_wrap
    width: calc(100% + 45px)

  .ui__news_row
    margin-left: -15px
    margin-right: -15px

  .ui__content_nav
    flex-wrap: wrap

  .ui__content_nav_item
    margin-right: 30px
    margin-left: 0

  .product__preview
    margin-bottom: 50px

  .news__promo_pic_wrap
    height: auto
    width: 100%

  .news__promo_inner
    margin-left: 0
    width: 100%




@media screen and (max-width: 760px)
  .ui__mainslider_img
    height: auto !important
    display: block !important
    width: 180% !important

  .ui__mainslider_inner
    left: 5px !important
    padding: 60px 30px 30px
    width: calc(100% - 10px) !important

  .ui__advantages_item:not(.ui__advantages_item-blue)
    margin-top: 0
    width: auto

  .ui__production_pic
    height: 280px

  .ui__production_item:not(.ui__production_item-infographic)
    height: auto

  .ui__production_title
    font-size: rem-calc(24px)
    line-height: rem-calc(30px)
    left: 20px

  .ui__production_col-margined
    padding-top: 15px

  .ui__advantages_item-blue
    width: auto
    margin-left: 0

  .ui__advantages .col:last-child .ui__advantages_item
    margin-left: 0

  .index__manufacturing_img_wrap
    height: 300px

  .index__manufacturing_info
    flex-direction: column
    padding: 20px 0 0

  .index__manufacturing_info_item
    width: auto
    padding-bottom: 30px

    &:not(:last-child)
      border-bottom: 1px solid rgba(255, 255, 255, 0.2)

  .index__manufacturing_content
    width: auto
    margin-top: -20px
    margin-left: 0

  .ui__reviews_item
    padding: 20px 0 90px

  .ui__reviews_profile_info
    margin-left: 0

  .ui__reviews_wrapper
    padding: 50px 20px 30px

  .ui__reviews_profile
    flex-direction: column
    align-items: flex-start

  .ui__reviews_profile_pic_wrap
    margin-bottom: 15px
    width: 50px
    height: 50px

  .ui__reviews_profile_name
    line-height: rem-calc(24px)
    margin-top: 8px

  .ui__reviews_footer
    border-top: 1px solid #EBEDF2
    padding-top: 15px
    flex-direction: column
    align-items: flex-start

  .ui__reviews_footer_item
    margin-bottom: 30px
    width: auto

  .ui__reviews_picture_wrap
    display: none

  .ui__news_row, .index__news
    overflow-x: hidden

  .ui__news_item
    margin-bottom: 40px

  .index__promo_pic
    top: 0
    left: 0

    img
      max-width: 100%

  .index__promo_text
    width: auto
    margin-top: 310px

  .index__promo
    overflow: hidden

  .index__seo_title
    font-size: rem-calc(24px)
    line-height: rem-calc(30px)

  .index__seo_wrapper
    padding: 30px 20px

  .index__seo_doors
    display: none

  .footer__nav
    height: auto
    margin-top: 30px

  .footer__call
    width: 100%
    margin-top: 20px

  .index__promo_btn
    position: relative
    z-index: 10

  .ui__vacancy_list
    margin-top: 30px

  .ui__vacancy_filter_list
    margin-top: 30px

  .ui__vacancy_inner
    flex-direction: column

  .ui__vacancy_right
    margin-left: 0
    margin-top: 50px


  .ui__content_title
    font-size: rem-calc(28px)
    line-height: rem-calc(35px)

  .ui__content_pic
    min-height: 200px

  .ui__content_pic_wrap
    margin-left: -15px
    margin-right: -15px

  .ui__content_subtitle
    font-size: rem-calc(24px)
    line-height: rem-calc(30px)

  .ui__card-topped
    margin-top: 30px
    margin-bottom: 50px

  .ui__card_count
    font-size: rem-calc(42px)
    line-height: rem-calc(50px)

    sup
      left: 5px
      font-size: 18px

  .ui__card
    padding: 20px 30px 35px

  blockquote
    font-size: rem-calc(24px)
    line-height: rem-calc(40px)
    padding: 20px 30px

  .ui__content_header-bread
    margin-top: 30px

  .ui__breadcrumbs
    margin-bottom: 10px

  .ui__content_nav
    margin-top: 30px
    flex-wrap: wrap

  .ui__content_nav_item
    margin-right: 20px
    margin-left: 0
    margin-bottom: 10px

  .product_pic_wrap
    display: flex
    justify-content: center

    .product_pic
      max-width: 100%

  .product__preview
    margin-bottom: 50px

  .product_btn
    display: block
    width: 100%

  .product__var_title
    margin-bottom: 30px

  .product__colors
    flex-wrap: wrap

  .product__colors_item
    margin-right: 20px
    margin-left: 0
    margin-bottom: 20px

  .ui__prodslider .owl-nav
    left: 15px
    width: calc(100% - 40px)
    top: 43%
    z-index: 2

  .ui__prodslider_item
    padding-left: 30px

  .ui__breadcrumbs_list
    flex-wrap: wrap

  .ui__news_grid
    margin-top: 0

  .ui__news_row .col
    margin-bottom: 20px
    padding-left: 15px
    padding-right: 15px

  .ui__news_img_wrap
    width: calc(100% + 35px)

  .ui__news_item
    padding: 30px 20px

  .ui__news_row
    margin-left: -15px
    margin-right: -15px
    overflow: unset

  .news__promo_pic_wrap
    height: 340px
    width: calc(100% + 30px)
    margin-left: -15px
    margin-right: -15px

  .news__promo_inner
    margin-left: 0
    width: 100%
    margin-top: -60px

  .news__promo_btn
    display: none

  .news__promo_content
    padding: 30px

  .ui__imgslider-titled
    margin-bottom: 50px
    margin-left: -15px
    margin-right: -15px
    width: calc(100% + 30px)

  .ui__imgslider_title
    left: 15px

  .ui__content_section:not(:last-child)
    margin-bottom: 50px

  .contacts__item
    flex-direction: column
    padding: 0 20px

  .contacts__item_post
    margin-bottom: 30px

  .contacts__item_pic_wrap
    border-bottom: 1px solid #F2F4F7

  .contacts__map
    height: 280px
    margin-bottom: 30px

  .ui__404
    margin-top: 60px
    padding: 0 15px

  .ui__404_digits
    font-size: rem-calc(160px)

  .ui__content_news
    margin-top: 20px

  .ui__content_subheader
    font-size: rem-calc(24px)
    line-height: rem-calc(30px)

  .news__content
    margin-bottom: 30px

  .ui__card_item_link
    font-size: rem-calc(16px)
    line-height: rem-calc(22px)