#m_catalog.ui__modal.zoom-anim-dialog.mfp-hide
    h2.ui__modal_title Заказать каталог
    form(class="ui__modal_form js_catalogform" action="" method="POST")
        fieldset.ui__modal_row
            label(for="inp_name" class="ui__modal_label") Имя
            input(id="inp_name" name="inp_name" type="text" class="ui__modal_input" placeholder="Введите имя" required)

        fieldset.ui__modal_row
            label(for="inp_phone" class="ui__modal_label") Телефон
            input(id="inp_phone" name="inp_phone" type="text" class="ui__modal_input js_phone" placeholder="Введите телефон" required)

        fieldset.ui__modal_row
            label(for="inp_mail" class="ui__modal_label") E-mail
            input(id="inp_mail" name="inp_mail" type="email" class="ui__modal_input" placeholder="Введите почту" required)

        fieldset.ui__modal_row
            .ui__checkbox
                input(id="inp_check" type="checkbox" name="inp_check" checked="")
                label(class="ui__checkbox_lbl" for="inp_check") Даю соласие на <a href="/privacy">обработку данных</a>

        button(type="submit" class="ui__modal_btn ui__btn ui__btn-red") Отправить
