#m_letter.ui__modal.zoom-anim-dialog.mfp-hide.ui__modal_letter
    h2.ui__modal_title Обратная связь
    form(class="ui__modal_form js_letterform" action="" method="POST")
        fieldset.ui__modal_row
            label(for="letter_name" class="ui__modal_label") Имя
            input(id="letter_name" name="letter_name" type="text" class="ui__modal_input" placeholder="Введите имя" required)

        .ui__modal_row
            .ui__modal_part
                fieldset.ui__modal_row
                    label(for="letter_mail" class="ui__modal_label") E-mail
                    input(id="letter_mail" name="letter_mail" type="email" class="ui__modal_input" placeholder="Введите почту" required)

            .ui__modal_part
                fieldset.ui__modal_row
                    label(for="letter_phone" class="ui__modal_label") Телефон
                    input(id="letter_phone" name="letter_phone" type="text" class="ui__modal_input js_phone" placeholder="Введите телефон" required)

        fieldset.ui__modal_row
            label(for="letter_text" class="ui__modal_label") Сообщение
            textarea(id="letter_text" name="letter_text" class="ui__modal_input" rows="5" placeholder="Введите сообщение" required)

        fieldset.ui__modal_row
            .ui__checkbox
                input(id="letter_check" type="checkbox" name="inp_check" checked="" required)
                label(class="ui__checkbox_lbl" for="letter_check") Даю соласие на <a href="/privacy">обработку данных</a>

        button(type="submit" class="ui__modal_btn ui__btn ui__btn-red") Отправить
