- var IMG_PATH = '../assets/img/';

mixin menuitem(text, link)
    li(class!=attributes.class)
        a(class!=attributes.class + '_link' href=link)=text

mixin ui__breadcrumbs(...items)
    .ui__breadcrumbs
        ul.ui__breadcrumbs_list
            each item in items
                - item = item || {}
                - item.text = item.text || ''
                - item.link = item.link || ''
                - item.plane = item.plane || false
                if item.plane
                    li.ui__breadcrumbs_item=item.text
                else
                    +menuitem(item.text, item.link)(class="ui__breadcrumbs_item")


mixin ui__card(_count, _text, _topped)
    - _topped = _topped || false

    if _topped
        .ui__card.ui__card-topped
            .ui__card_count!=_count
            .ui__card_text!=_text
    else
        .ui__card
            .ui__card_count!=_count
            .ui__card_text!=_text