extends ../layout/_layout

block title
    | Пастернак – фабрика фасадов

block header
    include ../layout/_header

block content
    main.main.ui__content(role="main")
        .ui__404
            .grid.grid--container
                .row
                    .col--xs-12
                        .ui__404_digits 404
                .row
                    .col--xs-12
                        h2.ui__404_title Страница не найдена
                        a(href="/" class="ui__404_btn ui__btn ui__btn-red") Вернуться на главную

block footer
    include ../layout/_footer

block modals
    include ../modals/_m_call
    include ../modals/_m_catalog