extends ../layout/_layout

block title
    | Пастернак – фабрика фасадов

block header
    include ../layout/_header

block content
    main.main.ui__content(role="main")
        .ui__content_header
            .grid.grid--container
                .row
                    .col.col--xs-12
                        h1.ui__content_title О компании

        .ui__content_wrapper
            section.ui__content_section
                .grid.grid--container
                    .row
                        .col.col--md-8
                            p Основным направлением нашей деятельности является создание мебельных фасадов, так как именно они задают стиль помещения, привносят атмосферу гармонии и уюта, формируют неповторимый индивидуальный интерьер.
                            p С 2003 года мы производим для Вас мебельные фасады европейского уровня на высокотехнологичном оборудовании.  За это время мы зарекомендовали себя надежным партнером, нашими клиентами стали производители мебели по всей России. Наши производственные площади составляют более 5 тыс. кв. м.
                            p Современные технологические линии позволяют нам выпускать фасады сложных криволинейных форм, нестандартных размеров, со сложной фрезеровкой, радиусные фасады в алюминиевом профиле.
                            p Мы вдохновлены работой по созданию лица Вашей будущей мебели и, используя накопленный опыт, наладили выпуск практически всех существующих на сегодняшний день видов фасадов с разными технологиями изготовления (краска, натуральный шпон, массив, пленка ПВХ, пластик).
                            p Помимо мебельных фасадов мы производим большой ассортимент декоративных элементов для мебели: карнизы, пилястры, фризы, балюстрады, арки, дверные накладки (в шпоне и пленке),  а так же экраны и накладки на изголовье кровати.

                            .ui__content_slider.ui__imgslider.ui__imgslider-titled.owl-carousel.js_imgslider
                                include ../blocks/_ui_imgslider
                                +ui__imgslider(
                                    true,
                                    {
                                        img: IMG_PATH + 'production/single/slider1.jpg',
                                        alt: 'Описание1'
                                    },
                                    {
                                        img: IMG_PATH + 'production/single/slider1.jpg',
                                        alt: 'Описание2'
                                    },
                                    {
                                        img: IMG_PATH + 'production/single/slider1.jpg',
                                        alt: 'Описание3'
                                    }
                                )

                        .col.col--md-4
                            +ui__card('5 000 м<sup>2</sup>', 'Общая производственная площадь', false)


            section.ui__content_section
                .grid.grid--container
                    .row.ui__content_row
                        .col.col--xs-12
                            h2.ui__content_subtitle Наш продукт
                    .row.ui__content_row
                        .col.col--md-6
                            h4.ui__content_subheader Фасады из МДФ, покрытые пленкой ПВХ
                            p Мы используем пленку ПВХ толщиной 0,35-0,45мм. Такая толщина обеспечивает отсутствие шагрени на изделии и высокую износоустойчивость при эксплуатации. <br>Многолетнее сотрудничество с одним поставщиком гарантирует нам стабильное качество пленки по толщине и цвету.
                            p Многолетнее сотрудничество с одним поставщиком гарантирует нам стабильное качество пленки по толщине и цвету.

                        .col.col--md-6
                            h4.ui__content_subheader Фасады, покрытые пластиком
                            p Использование высокотехнологичного оборудования позволяет нам производить фасады с радиусными отполированными краями и повторять рельеф текстурированного пластика.
                            p Использование малонаполненных клеев и качественного кромочного материала позволяет добиться тонкого малозаметного клеевого шва.

                    .row.ui__content_row
                        .col.col--md-6
                            h4.ui__content_subheader Фасады, с лакокрасочным покрытием
                            p Наше производство, единственное в регионе, оснащено большими покрасочными камерами, позволяющими красить поверхности длиной до 3 м.
                        .col.col--md-6
                            h4.ui__content_subheader Фасады, покрытые шпоном
                            p Наше оборудование позволяет покрывать шпоном не только плоские поверхности, но и полностью филенку.
                            p Мы изготавливаем шпонированные фасады с красивой сложной фрезеровкой

                    .row.ui__content_row
                        .col.col--md-6
                            h4.ui__content_subheader Фасады из массива
                            p У нас широкая линейка фасадов из массива (дуб, бук)


            section.ui__content_section
                .grid.grid--container
                    .row
                        .col.col--xs-12
                            h2.ui__content_subtitle Наша история

                .grid.no-padding
                    .row
                        .col.col--xs-12
                            .ui__timeslider.owl-carousel.js_timeslider
                                include ../blocks/_ui_timeslider
                                +ui__timeslider(
                                    {
                                        count: '2003',
                                        text: 'Начало производства <br>фасадов из МДФ, <br>покрытых пленкой ПВХ.'
                                    },
                                    {
                                        count: '2006',
                                        text: 'Начало производства фасадов из МДФ с лакокрасочным покрытием.'
                                    },
                                    {
                                        count: '2009',
                                        text: 'Начало производства фасадов из МДФ, покрытых пластиком.'
                                    },
                                    {
                                        count: '2012',
                                        text: 'Начало производства фасадов из МДФ, покрытых пластиком.'
                                    },
                                    {
                                        count: '2014',
                                        text: 'Начало производства фасадов из МДФ, покрытых пластиком.'
                                    },
                                    {
                                        count: '2016',
                                        text: 'Начало производства фасадов из МДФ, покрытых пластиком.'
                                    }
                                )


            section.ui__content_section
                .grid.grid--container
                    .row
                        .col.col--xs-12
                            h2.ui__content_subtitle Наши принципы
                    .row
                        .col.col--md-8
                            p Фабрика Фасадов «Пастернак» с огромной ответственностью и профессионализмом относится к своему делу. Мы уважаем и ценим своих клиентов и придерживаемся следующих принципов в работе:

                    .ui__content_card_wrap
                        .row.ui__content_card_row
                            .col.col--md-4
                                .ui__content_card
                                    i.ui__content_card_ico.ui__icon.ui__icon-check
                                    .ui__content_card_text Интересы клиента имеют наивысший приоритет.
                            .col.col--md-4
                                .ui__content_card
                                    i.ui__content_card_ico.ui__icon.ui__icon-molecule
                                    .ui__content_card_text Применение инновационных технологий производства.
                            .col.col--md-4
                                .ui__content_card
                                    i.ui__content_card_ico.ui__icon.ui__icon-hands
                                    .ui__content_card_text Честные партнерские отношения с клиентами.

                        .row.ui__content_card_row
                            .col.col--md-4
                                .ui__content_card
                                    i.ui__content_card_ico.ui__icon.ui__icon-calendar
                                    .ui__content_card_text Четкое соблюдение сроков выполнения заказа.
                            .col.col--md-4
                                .ui__content_card
                                    i.ui__content_card_ico.ui__icon.ui__icon-idea
                                    .ui__content_card_text Постоянный поиск и реализация ярких дизайнерских решений.
                            .col.col--md-4
                                .ui__content_card
                                    i.ui__content_card_ico.ui__icon.ui__icon-target
                                    .ui__content_card_text Эффективные коммуникации.

                    .row
                        .col.col--md-8
                            p Мы будем рады сотрудничеству с Вами и  гарантируем Вам благодарных заказчиков, которые останутся довольны нашими фасадами.
                            p С уважением к Вашему делу, <br>Фабрика Фасадов «Пастернак»


block footer
    include ../layout/_footer

block modals
    include ../modals/_m_call