extends ../layout/_layout

block title
    | Пастернак – фабрика фасадов

block header
    include ../layout/_header

block content
    main.main.ui__content(role="main")
        .ui__content_header.ui__content_header-bread
            .grid.grid--container
                .row
                    .col.col--xs-12
                        +ui__breadcrumbs(
                            {
                                text: 'Продукция',
                                link: '#',
                                plane: false
                            }
                        )

                        h1.ui__content_title Фасады по материалам

                        ui.ui__content_nav
                            li.ui__content_nav_item
                                a(href="#sec1" class="ui__content_nav_link" data-type="scroll") Массив
                            li.ui__content_nav_item
                                a(href="#sec2" class="ui__content_nav_link" data-type="scroll") Натуральный шпон
                            li.ui__content_nav_item
                                a(href="#sec3" class="ui__content_nav_link" data-type="scroll") Пленка ТВХ
                            li.ui__content_nav_item
                                a(href="#sec4" class="ui__content_nav_link" data-type="scroll") В алюминиевом профиле
                            li.ui__content_nav_item
                                a(href="#sec5" class="ui__content_nav_link" data-type="scroll") Искуственная кожа

        .ui__content_wrapper
            section.catalog__section#sec1
                .grid.grid--container
                    .row
                        .col.col--md-8
                            h2.ui__content_subtitle Массив дерева
                            p Для фасадов мы используем итальянский пластик «Arpa», отличительной особенностью которого является широкий ассортимент глянцевых фантазийных и перламутровых декоров, а так же его высокое качество.
                            p Многообразие декоров, широкая цветовая гамма, разнообразие поверхностей, технические характеристики, эстетичность, практичность, гигиеничность <br>все те качества, которые способствуют многопрофильному применению данного материала и позволяют дополнить интерьер необходимыми элементами.

                        .col.col--md-4
                            +ui__card('20', 'лет — срок службы фасадов из пластика', true)

                    .catalog__prodgrid
                        include ../blocks/_ui_prodgrid
                        +ui__prodgrid(
                            4,
                            'default',
                            {
                                img: IMG_PATH + 'catalog/cat1.jpg',
                                title: 'Альберо дерево',
                                link: '#'
                            },
                            {
                                img: IMG_PATH + 'catalog/cat2.jpg',
                                title: 'Констанция',
                                link: '#'
                            },
                            {
                                img: IMG_PATH + 'catalog/cat3.jpg',
                                title: 'Альберо диретто',
                                link: '#'
                            },
                            {
                                img: IMG_PATH + 'catalog/cat4.jpg',
                                title: 'Балтимора',
                                link: '#'
                            },
                            {
                                img: IMG_PATH + 'catalog/cat5.jpg',
                                title: 'Альберо луиза',
                                link: '#'
                            }
                        )

                        .catalog__prodgrid_more
                            a(href="#" class="catalog__prodgrid_btn ui__btn") Показать все


            section.catalog__section#sec2
                .grid.grid--container
                    .row
                        .col.col--md-8
                            h2.ui__content_subtitle Натуральный шпон
                            p Одним из самых «продвинутых» решений являются облицованные (или покрытые) шпоном мебельные фасады. Шпонированные МДФ, в отличие от более дешевой оклейки панелей ПВХ-пленкой, используют натуральную древесину. Правда, не массив, а тонкие листы, получаемые путем строгания, лущения либо пиления дерева.
                            p Такие шпонированные фасады из МДФ не только не уступают по своим эстетическим качествам мебели из массива, но в некоторых случаях даже оказываются практичнее.

                        .col.col--md-4
                            +ui__card('<div class="ui__icon ui__icon-temp"></div>', 'Фасады из шпона не деформируются под воздействием перепадов температур', true)

                    .catalog__prodgrid
                        +ui__prodgrid(
                            4,
                            'default',
                            {
                                img: IMG_PATH + 'catalog/cat6.jpg',
                                title: 'Альберо дерево',
                                link: '#'
                            },
                            {
                                img: IMG_PATH + 'catalog/cat7.jpg',
                                title: 'Альберо дерево',
                                link: '#'
                            },
                            {
                                img: IMG_PATH + 'catalog/cat8.jpg',
                                title: 'Альберо техно',
                                link: '#'
                            },
                            {
                                img: IMG_PATH + 'catalog/cat9.jpg',
                                title: 'Альберо двойка',
                                link: '#'
                            }
                        )

                        .catalog__prodgrid_more
                            a(href="#" class="catalog__prodgrid_btn ui__btn") Показать все


            section.catalog__section#sec3
                .grid.grid--container
                    .row
                        .col.col--md-8
                            h2.ui__content_subtitle Пленка ТВХ
                            p Одним из самых «продвинутых» решений являются облицованные (или покрытые) шпоном мебельные фасады. Шпонированные МДФ, в отличие от более дешевой оклейки панелей ПВХ-пленкой, используют натуральную древесину. Правда, не массив, а тонкие листы, получаемые путем строгания, лущения либо пиления дерева.
                            p Такие шпонированные фасады из МДФ не только не уступают по своим эстетическим качествам мебели из массива, но в некоторых случаях даже оказываются практичнее.

                        .col.col--md-4
                            +ui__card('20', 'лет — срок службы фасадов из пластика', true)

                    .catalog__prodgrid
                        +ui__prodgrid(
                            4,
                            'default',
                            {
                                img: IMG_PATH + 'catalog/cat6.jpg',
                                title: 'Альберо дерево',
                                link: '#'
                            },
                            {
                                img: IMG_PATH + 'catalog/cat7.jpg',
                                title: 'Констанция',
                                link: '#'
                            },
                            {
                                img: IMG_PATH + 'catalog/cat8.jpg',
                                title: 'Альберо диретто',
                                link: '#'
                            },
                            {
                                img: IMG_PATH + 'catalog/cat9.jpg',
                                title: 'Балтимора',
                                link: '#'
                            }
                        )

                        .catalog__prodgrid_more
                            a(href="#" class="catalog__prodgrid_btn ui__btn") Показать все


            section.catalog__section#sec4
                .grid.grid--container
                    .row
                        .col.col--md-8
                            h2.ui__content_subtitle В алюминиевом профиле
                            p Одним из самых «продвинутых» решений являются облицованные (или покрытые) шпоном мебельные фасады. Шпонированные МДФ, в отличие от более дешевой оклейки панелей ПВХ-пленкой, используют натуральную древесину. Правда, не массив, а тонкие листы, получаемые путем строгания, лущения либо пиления дерева.
                            p Такие шпонированные фасады из МДФ не только не уступают по своим эстетическим качествам мебели из массива, но в некоторых случаях даже оказываются практичнее.

                        .col.col--md-4
                            +ui__card('20', 'лет — срок службы фасадов из пластика', true)

                    .catalog__prodgrid
                        +ui__prodgrid(
                        4,
                        'default',
                        {
                            img: IMG_PATH + 'catalog/cat6.jpg',
                            title: 'Альберо дерево',
                            link: '#'
                        },
                        {
                            img: IMG_PATH + 'catalog/cat7.jpg',
                            title: 'Констанция',
                            link: '#'
                        },
                        {
                            img: IMG_PATH + 'catalog/cat8.jpg',
                            title: 'Альберо диретто',
                            link: '#'
                        },
                        {
                            img: IMG_PATH + 'catalog/cat9.jpg',
                            title: 'Балтимора',
                            link: '#'
                        }
                        )

                        .catalog__prodgrid_more
                            a(href="#" class="catalog__prodgrid_btn ui__btn") Показать все


            section.catalog__section#sec5
                .grid.grid--container
                    .row
                        .col.col--md-8
                            h2.ui__content_subtitle Искусственная кожа
                            p Одним из самых «продвинутых» решений являются облицованные (или покрытые) шпоном мебельные фасады. Шпонированные МДФ, в отличие от более дешевой оклейки панелей ПВХ-пленкой, используют натуральную древесину. Правда, не массив, а тонкие листы, получаемые путем строгания, лущения либо пиления дерева.
                            p Такие шпонированные фасады из МДФ не только не уступают по своим эстетическим качествам мебели из массива, но в некоторых случаях даже оказываются практичнее.

                        .col.col--md-4
                            +ui__card('20', 'лет — срок службы фасадов из пластика', true)

                    .catalog__prodgrid
                        +ui__prodgrid(
                        4,
                        'default',
                        {
                            img: IMG_PATH + 'catalog/cat6.jpg',
                            title: 'Альберо дерево',
                            link: '#'
                        },
                        {
                            img: IMG_PATH + 'catalog/cat7.jpg',
                            title: 'Констанция',
                            link: '#'
                        },
                        {
                            img: IMG_PATH + 'catalog/cat8.jpg',
                            title: 'Альберо диретто',
                            link: '#'
                        },
                        {
                            img: IMG_PATH + 'catalog/cat9.jpg',
                            title: 'Балтимора',
                            link: '#'
                        }
                        )

                        .catalog__prodgrid_more
                            a(href="#" class="catalog__prodgrid_btn ui__btn") Показать все

block footer
    include ../layout/_footer

block modals
    include ../modals/_m_call