extends ../layout/_layout

block title
    | Пастернак – фабрика фасадов

block header
    include ../layout/_header

block content
    main.main.ui__content(role="main")
        .ui__content_header.ui__content_header-bread
            .grid.grid--container
                .row
                    .col.col--xs-12
                        +ui__breadcrumbs(
                        {
                            text: 'Продукция',
                            link: '#',
                            plane: false
                        }
                        )

                        h1.ui__content_title Фасады по материалам

                        ui.ui__content_nav
                            li.ui__content_nav_item
                                a(href="#sec1" class="ui__content_nav_link" data-type="scroll") Мебельные ручки
                            li.ui__content_nav_item
                                a(href="#sec2" class="ui__content_nav_link" data-type="scroll") Баллюстрады
                            li.ui__content_nav_item
                                a(href="#sec3" class="ui__content_nav_link" data-type="scroll") Декоративные панели

        .ui__content_wrapper
            section.catalog__section#sec1
                .grid.grid--container
                    .row
                        .col.col--md-8
                            h2.ui__content_subtitle Мебельные ручки
                            p Мебельная ручка — завершающий штрих в композиции фасада, красивая и функциональная мебельная фурнитура. Представленная нами коллекция включает в себя модели как классического стиля, так и стиля модерн, и предлагает многообразие дизайнерских форм, стилевых направлений и широкую цветовую гамма покрытий.

                    .catalog__prodgrid
                        include ../blocks/_ui_prodgrid
                        +ui__prodgrid(
                        4,
                        'small',
                        true,
                        {
                            img: IMG_PATH + 'catalog/cat10.jpg',
                            title: 'Балтимора',
                            link: IMG_PATH + 'catalog/cat10.jpg'
                        }
                        )


            section.catalog__section#sec2
                .grid.grid--container
                    .row
                        .col.col--md-8
                            h2.ui__content_subtitle Баллюстрады
                            p Мебельная ручка — завершающий штрих в композиции фасада, красивая и функциональная мебельная фурнитура. Представленная нами коллекция включает в себя модели как классического стиля, так и стиля модерн, и предлагает многообразие дизайнерских форм, стилевых направлений и широкую цветовую гамма покрытий.

                    .catalog__prodgrid
                        +ui__prodgrid(
                            4,
                            'small',
                            true,
                            {
                                img: IMG_PATH + 'catalog/cat11.jpg',
                                title: 'Вилль',
                                link: IMG_PATH + 'catalog/cat11.jpg'
                            },
                            {
                                img: IMG_PATH + 'catalog/cat12.jpg',
                                title: 'Готика',
                                link: IMG_PATH + 'catalog/cat12.jpg'
                            }
                        )


            section.catalog__section#sec3
                .grid.grid--container
                    .row
                        .col.col--md-8
                            h2.ui__content_subtitle Декоративные панели
                            p Мебельная ручка — завершающий штрих в композиции фасада, красивая и функциональная мебельная фурнитура. Представленная нами коллекция включает в себя модели как классического стиля, так и стиля модерн, и предлагает многообразие дизайнерских форм, стилевых направлений и широкую цветовую гамма покрытий.

                    .catalog__prodgrid
                        +ui__prodgrid(
                            4,
                            'big',
                            true,
                            {
                                img: IMG_PATH + 'catalog/cat13.jpg',
                                title: 'Вилль',
                                link: IMG_PATH + 'catalog/cat13.jpg'
                            },
                            {
                                img: IMG_PATH + 'catalog/cat14.jpg',
                                title: 'Готика',
                                link: IMG_PATH + 'catalog/cat14.jpg'
                            },
                            {
                                img: IMG_PATH + 'catalog/cat13.jpg',
                                title: 'Вилль',
                                link: IMG_PATH + 'catalog/cat13.jpg'
                            },
                            {
                                img: IMG_PATH + 'catalog/cat14.jpg',
                                title: 'Готика',
                                link: IMG_PATH + 'catalog/cat14.jpg'
                            }
                        )


block footer
    include ../layout/_footer

block modals
    include ../modals/_m_call