extends ../layout/_layout

block title
    | Пастернак – фабрика фасадов

block header
    include ../layout/_header

block content
    main.main.ui__content(role="main")
        .ui__content_header.ui__content_header-bread
            .grid.grid--container
                .row
                    .col.col--xs-12
                        +ui__breadcrumbs(
                        {
                            text: 'Продукция',
                            link: '#',
                            plane: false
                        }
                        )

                        h1.ui__content_title Каталог цветов

                        ui.ui__content_nav
                            li.ui__content_nav_item
                                a(href="#sec1" class="ui__content_nav_link" data-type="scroll") Каталог цвета Arpa
                            li.ui__content_nav_item
                                a(href="#sec2" class="ui__content_nav_link" data-type="scroll") Каталог цветов ПВХ
                            li.ui__content_nav_item
                                a(href="#sec3" class="ui__content_nav_link" data-type="scroll") Каталог цветов Lemark
                            li.ui__content_nav_item
                                a(href="#sec4" class="ui__content_nav_link" data-type="scroll") Каталог цветов Melaton


        .ui__content_wrapper
            section.catalog__section#sec1
                .grid.grid--container
                    .row
                        .col.col--md-8
                            h2.ui__content_subtitle Каталог цветов Arpa
                            p Мебельная ручка — завершающий штрих в композиции фасада, красивая и функциональная мебельная фурнитура. Представленная нами коллекция включает в себя модели как классического стиля, так и стиля модерн, и предлагает многообразие дизайнерских форм, стилевых направлений и широкую цветовую гамма покрытий.

                    .catalog__prodgrid
                        include ../blocks/_ui_prodgrid
                        +ui__prodgrid(
                            4,
                            'default',
                            {
                                img: IMG_PATH + 'catalog/colors/col1.jpg',
                                title: 'Ольха',
                                link: '#'
                            },
                            {
                                img: IMG_PATH + 'catalog/colors/col2.jpg',
                                title: 'Бежевый',
                                link: '#'
                            },
                            {
                                img: IMG_PATH + 'catalog/colors/col3.jpg',
                                title: 'Бук Бавария',
                                link: '#'
                            },
                            {
                                img: IMG_PATH + 'catalog/colors/col4.jpg',
                                title: 'Дуб молочный',
                                link: '#'
                            },
                            {
                                img: IMG_PATH + 'catalog/colors/col5.jpg',
                                title: 'Орех',
                                link: '#'
                            },
                            {
                                img: IMG_PATH + 'catalog/colors/col6.jpg',
                                title: 'Ясень шимо темный',
                                link: '#'
                            },
                            {
                                img: IMG_PATH + 'catalog/colors/col7.jpg',
                                title: 'Ясень шимо светлый',
                                link: '#'
                            },
                            {
                                img: IMG_PATH + 'catalog/colors/col8.jpg',
                                title: 'Орех итальянский',
                                link: '#'
                            }
                        )

                        .catalog__prodgrid_more
                            a(href="#" class="catalog__prodgrid_btn ui__btn") Показать все


            section.catalog__section#sec2
                .grid.grid--container
                    .row
                        .col.col--md-8
                            h2.ui__content_subtitle Каталог цветов ПВХ
                            p Мебельная ручка — завершающий штрих в композиции фасада, красивая и функциональная мебельная фурнитура. Представленная нами коллекция включает в себя модели как классического стиля, так и стиля модерн, и предлагает многообразие дизайнерских форм, стилевых направлений и широкую цветовую гамма покрытий.

                    .catalog__prodgrid
                        include ../blocks/_ui_prodgrid
                        +ui__prodgrid(
                        4,
                        'default',
                        {
                            img: IMG_PATH + 'catalog/colors/col1.jpg',
                            title: 'Ольха',
                            link: '#'
                        },
                        {
                            img: IMG_PATH + 'catalog/colors/col2.jpg',
                            title: 'Бежевый',
                            link: '#'
                        },
                        {
                            img: IMG_PATH + 'catalog/colors/col3.jpg',
                            title: 'Бук Бавария',
                            link: '#'
                        },
                        {
                            img: IMG_PATH + 'catalog/colors/col4.jpg',
                            title: 'Дуб молочный',
                            link: '#'
                        },
                        {
                            img: IMG_PATH + 'catalog/colors/col5.jpg',
                            title: 'Орех',
                            link: '#'
                        },
                        {
                            img: IMG_PATH + 'catalog/colors/col6.jpg',
                            title: 'Ясень шимо темный',
                            link: '#'
                        },
                        {
                            img: IMG_PATH + 'catalog/colors/col7.jpg',
                            title: 'Ясень шимо светлый',
                            link: '#'
                        },
                        {
                            img: IMG_PATH + 'catalog/colors/col8.jpg',
                            title: 'Орех итальянский',
                            link: '#'
                        }
                        )

                        .catalog__prodgrid_more
                            a(href="#" class="catalog__prodgrid_btn ui__btn") Показать все


            section.catalog__section#sec3
                .grid.grid--container
                    .row
                        .col.col--md-8
                            h2.ui__content_subtitle Каталог цветов Lemark
                            p Мебельная ручка — завершающий штрих в композиции фасада, красивая и функциональная мебельная фурнитура. Представленная нами коллекция включает в себя модели как классического стиля, так и стиля модерн, и предлагает многообразие дизайнерских форм, стилевых направлений и широкую цветовую гамма покрытий.

                    .catalog__prodgrid
                        include ../blocks/_ui_prodgrid
                        +ui__prodgrid(
                        4,
                        'default',
                        {
                            img: IMG_PATH + 'catalog/colors/col1.jpg',
                            title: 'Ольха',
                            link: '#'
                        },
                        {
                            img: IMG_PATH + 'catalog/colors/col2.jpg',
                            title: 'Бежевый',
                            link: '#'
                        },
                        {
                            img: IMG_PATH + 'catalog/colors/col3.jpg',
                            title: 'Бук Бавария',
                            link: '#'
                        },
                        {
                            img: IMG_PATH + 'catalog/colors/col4.jpg',
                            title: 'Дуб молочный',
                            link: '#'
                        },
                        {
                            img: IMG_PATH + 'catalog/colors/col5.jpg',
                            title: 'Орех',
                            link: '#'
                        },
                        {
                            img: IMG_PATH + 'catalog/colors/col6.jpg',
                            title: 'Ясень шимо темный',
                            link: '#'
                        },
                        {
                            img: IMG_PATH + 'catalog/colors/col7.jpg',
                            title: 'Ясень шимо светлый',
                            link: '#'
                        },
                        {
                            img: IMG_PATH + 'catalog/colors/col8.jpg',
                            title: 'Орех итальянский',
                            link: '#'
                        }
                        )

                        .catalog__prodgrid_more
                            a(href="#" class="catalog__prodgrid_btn ui__btn") Показать все


            section.catalog__section#sec4
                .grid.grid--container
                    .row
                        .col.col--md-8
                            h2.ui__content_subtitle Каталог цветов Melaton
                            p Мебельная ручка — завершающий штрих в композиции фасада, красивая и функциональная мебельная фурнитура. Представленная нами коллекция включает в себя модели как классического стиля, так и стиля модерн, и предлагает многообразие дизайнерских форм, стилевых направлений и широкую цветовую гамма покрытий.

                    .catalog__prodgrid
                        include ../blocks/_ui_prodgrid
                        +ui__prodgrid(
                        4,
                        'default',
                        {
                            img: IMG_PATH + 'catalog/colors/col1.jpg',
                            title: 'Ольха',
                            link: '#'
                        },
                        {
                            img: IMG_PATH + 'catalog/colors/col2.jpg',
                            title: 'Бежевый',
                            link: '#'
                        },
                        {
                            img: IMG_PATH + 'catalog/colors/col3.jpg',
                            title: 'Бук Бавария',
                            link: '#'
                        },
                        {
                            img: IMG_PATH + 'catalog/colors/col4.jpg',
                            title: 'Дуб молочный',
                            link: '#'
                        },
                        {
                            img: IMG_PATH + 'catalog/colors/col5.jpg',
                            title: 'Орех',
                            link: '#'
                        },
                        {
                            img: IMG_PATH + 'catalog/colors/col6.jpg',
                            title: 'Ясень шимо темный',
                            link: '#'
                        },
                        {
                            img: IMG_PATH + 'catalog/colors/col7.jpg',
                            title: 'Ясень шимо светлый',
                            link: '#'
                        },
                        {
                            img: IMG_PATH + 'catalog/colors/col8.jpg',
                            title: 'Орех итальянский',
                            link: '#'
                        }
                        )

                        .catalog__prodgrid_more
                            a(href="#" class="catalog__prodgrid_btn ui__btn") Показать все


block footer
    include ../layout/_footer

block modals
    include ../modals/_m_call