extends ../layout/_layout

block title
    | Пастернак – фабрика фасадов

block header
    include ../layout/_header

block content
    main.main.ui__content(role="main")
        .ui__content_header
            .grid.grid--container
                .row
                    .col.col--xs-12
                        h1.ui__content_title Контакты

        .ui__content_wrapper
            section.ui__content_section
                .grid.grid--container
                    .row
                        .col.col--md-6
                            .contacts__item
                                .contacts__item_pic_wrap
                                    img(src=IMG_PATH + "contacts/pic1.png" alt="Карина Ипатова" class="contacts__item_pic")
                                .contacts__item_inner
                                    .contacts__item_header
                                        .contacts__item_name Карина Ипатова
                                        .contacts__item_post Менеджер отдела продаж

                                    .contacts__item_footer
                                        a(href="tel:+74912243737" class="contacts__item_link") +7 (4912) 24-37-37, доб.108
                                        a(href="tel:+79156012575" class="contacts__item_link") +7 915-601-25-75
                                        a(href="mailto:i.karina@mebelshik.su" class="contacts__item_link") i.karina@mebelshik.su
                        .col.col--md-6
                            .contacts__item
                                .contacts__item_pic_wrap
                                    img(src=IMG_PATH + "contacts/pic2.png" alt="Раева Ирина" class="contacts__item_pic")
                                .contacts__item_inner
                                    .contacts__item_header
                                        .contacts__item_name Раева Ирина
                                        .contacts__item_post Руководитель отдела продаж

                                    .contacts__item_footer
                                        a(href="tel:+74912243737" class="contacts__item_link") +7 (4912) 24-37-37, доб.105
                                        a(href="tel:+79156200383" class="contacts__item_link") +7 915-620-03-83
                                        a(href="mailto:r.irina@mebelshik.su" class="contacts__item_link") r.irina@mebelshik.su

                    .row
                        .col.col--md-6
                            .contacts__item
                                .contacts__item_pic_wrap
                                    img(src=IMG_PATH + "contacts/pic3.png" alt="Марина Кутыраева" class="contacts__item_pic")
                                .contacts__item_inner
                                    .contacts__item_header
                                        .contacts__item_name Марина Кутыраева
                                        .contacts__item_post Менеджер отдела продаж

                                    .contacts__item_footer
                                        a(href="tel:+74912243737" class="contacts__item_link") +7 (4912) 24-37-37, доб.109
                                        a(href="tel:+79156008050" class="contacts__item_link") +7 915-600-80-50
                                        a(href="mailto:9156008050@mebelshik.su" class="contacts__item_link") 9156008050@mebelshik.su
                        .col.col--md-6
                            .contacts__item
                                .contacts__item_pic_wrap
                                    img(src=IMG_PATH + "contacts/pic4.png" alt="Светлана Дрогомерецкая" class="contacts__item_pic")
                                .contacts__item_inner
                                    .contacts__item_header
                                        .contacts__item_name Светлана Дрогомерецкая
                                        .contacts__item_post Менеджер отдела продаж

                                    .contacts__item_footer
                                        a(href="tel:+74912243737" class="contacts__item_link") +7 (4912) 24-37-37, доб.110
                                        a(href="tel:+79106418188" class="contacts__item_link") +7 910-641-81-88
                                        a(href="mailto:d.svetlana@mebelshik.su" class="contacts__item_link") d.svetlana@mebelshik.su

                    .row
                        .col.col--md-6
                            .contacts__item.contacts__item-nopic
                                .contacts__item_inner
                                    .contacts__item_header
                                        .contacts__item_name Юлия Молоканова
                                        .contacts__item_post Менеджер отдела продаж

                                    .contacts__item_footer
                                        a(href="tel:+74912243737" class="contacts__item_link") +7 (4912) 24-37-37, доб.100
                                        a(href="tel:+79109033576" class="contacts__item_link") +7 910-903-35-76
                                        a(href="mailto:9109033576@mebelshik.su" class="contacts__item_link") 9109033576@mebelshik.su


            section.ui__content_section
                .grid.grid--container
                    .row
                        .col.col--md-8
                            h2.ui__content_subtitle Где мы находимся

                    .row
                        .col.col--md-8
                            #pmap.contacts__map
                                script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4a61ecbf5d952ed1ee0f92940456acdebad980d29230aae2a67348966b22e97d&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=true;id=pmap")

                        .col.col--md-4
                            .ui__card
                                p
                                    strong Адрес:<br>
                                    | г. Рязань, Район Строитель, 7А
                                p
                                    strong Телефон:<br>
                                    | +7 4912 24-37-37

                                p
                                    strong Электронная почта:<br>
                                    | info@pasternak.ru

block footer
    include ../layout/_footer

block modals
    include ../modals/_m_call