extends ../layout/_layout

block title
    | Пастернак – фабрика фасадов

block header
    include ../layout/_header

block content
    main.main(role="main")
        section.index__slider.section
            .index__slider_under

            include ../blocks/_ui_mainslider

            .ui__mainslider.owl-carousel.js_mainslider
                +ui__mainslider(
                    {
                        img: IMG_PATH + 'main/main_slider1.jpg',
                        title: 'Собственное производство',
                        link: '#',
                        desc: 'Мебельные фасады <br>из натурального дерева'
                    },
                    {
                        img: IMG_PATH + 'main/main_slider1.jpg',
                        title: 'Длинный заголовок в 3 строки',
                        link: '#',
                        desc: 'Мебельные фасады <br>из натурального дерева Мебельные фасады из натурального дерева Мебельные фасады из натурального дерева'
                    },
                    {
                        img: IMG_PATH + 'main/main_slider1.jpg',
                        title: 'Очень длинный заголовок',
                        link: '#',
                        desc: 'Тут очень много текста прямо ооочень преочень много тут очень много текста прямо ооочень преочень много Тут очень много текста прямо ооочень преочень много Тут очень много текста прямо ооочень преочень много'
                    }
                )

        section.index__production.section
            .grid.grid--container
                .row
                    .col.col--xs-12
                        h2.section__header Продукция
                .row
                    include ../blocks/_ui_production


        section.index__advantages.section
            .grid.grid--container
                .row
                    .col.col--xs-12
                        h2.section__header Преимущества

                include ../blocks/_ui_advantages

        section.index__manufacturing.section
            .grid.grid--container
                .row
                    .col.col--xs-12
                        h2.section__header Производство

                .row
                    .col.col--md-8
                        .index__manufacturing_wrapper
                            .index__manufacturing_img_wrap
                                img(src=IMG_PATH + 'main/production.jpg' alt="Производство" class="index__manufacturing_img")
                            .index__manufacturing_info
                                .index__manufacturing_info_item
                                    .index__manufacturing_count 890 м<sup>2</sup>
                                    .index__manufacturing_desc Площадь производства
                                .index__manufacturing_info_item
                                    .index__manufacturing_count 10
                                    .index__manufacturing_desc Лет опыта

                    .col.col--md-4
                        .index__manufacturing_content
                            p Обработка фасадов на фрезерном станке ЧПУ позволяет в точности выдержать все заданные размеры изделия и значительно повысить качество обработки, в отличии от ручного труда.
                            i.index__manufacturing_ico.ui__icon.ui__icon-shield
                            p Все материалы отвечают европейскому стандарту безопасности E1

        section.index__reviews.section
            .grid.grid--container
                .row
                    .col.col--xs-12
                        h2.section__header Отзывы партнеров


            include ../blocks/_ui_reviews

            .ui__reviews_gallery.owl-carousel.js_reviews(data-slider-id="1")
                +ui__reviews(
                    {
                        avatar: IMG_PATH + 'main/ava1.jpg',
                        name: 'Константин Константинопольский',
                        company: 'Компания &laquo;Технониколь&raquo;',
                        text: 'Работы были выполнены в соответствии с действующими строительными нормами и правилами, согласно техническому заданию, с надлежащим качеством и в установленный срок. <br>При этом, в ходе производства работ максимально учитывались пожелания заказчика, использовались современные материалы и прогрессивные технологии.',
                        year: '2009',
                        logo: IMG_PATH + 'main/otz_logo1.svg',
                        picture: IMG_PATH + 'main/otz_img1.jpg'
                    },
                    {
                        avatar: IMG_PATH + 'main/ava1.jpg',
                        name: 'Константин Константинопольский1',
                        company: 'Компания &laquo;Технониколь&raquo;',
                        text: 'Работы были выполнены в соответствии с действующими строительными нормами и правилами, согласно техническому заданию, с надлежащим качеством и в установленный срок. <br>При этом, в ходе производства работ максимально учитывались пожелания заказчика, использовались современные материалы и прогрессивные технологии.',
                        year: '2009',
                        logo: IMG_PATH + 'main/otz_logo1.svg',
                        picture: IMG_PATH + 'main/otz_img1.jpg'
                    },
                    {
                        avatar: IMG_PATH + 'main/ava1.jpg',
                        name: 'Константин Константинопольский2',
                        company: 'Компания &laquo;Технониколь&raquo;',
                        text: 'Работы были выполнены в соответствии с действующими строительными нормами и правилами, согласно техническому заданию, с надлежащим качеством и в установленный срок. <br>При этом, в ходе производства работ максимально учитывались пожелания заказчика, использовались современные материалы и прогрессивные технологии.',
                        year: '2009',
                        logo: IMG_PATH + 'main/otz_logo1.svg',
                        picture: IMG_PATH + 'main/otz_img1.jpg'
                    }
                )

            .grid.grid--container
                .row
                    .col.col--xs-12
                        .ui__reviews_thumbs.owl-thumbs(data-slider-id="1")
                            +ui__reviews_thumbs(
                                {
                                    avatar: IMG_PATH + 'main/ava1.jpg',
                                    name: 'Константин Константинопольский'
                                },
                                {
                                    avatar: IMG_PATH + 'main/ava2.jpg',
                                    name: 'Константин Константинопольский1'
                                },
                                {
                                    avatar: IMG_PATH + 'main/ava3.jpg',
                                    name: 'Константин Константинопольский2'
                                }
                            )

        section.index__news.section
            .grid.grid--container
                .row
                    .col.col--xs-12
                        h2.section__header Новости

                include ../blocks/_ui_news

                +ui__news(
                    2,
                    {
                        img: IMG_PATH + 'news/news_pic1.jpg',
                        date: '12 октября',
                        title: 'На территории фабрики &laquo;МЕБЕЛЬЩИК&raquo; открылся дисконт-центр',
                        link: '#'
                    },
                    {
                        img: IMG_PATH + 'news/news_pic2.jpg',
                        date: '10 октября',
                        title: 'Новая модель в каталоге',
                        link: '#'
                    }
                )

        section.index__promo.section
            .grid.grid--container
                .row
                    .col.col--xs-12
                        h2.section__header Каталог продукции

                .row
                    .col.col--xs-12
                        .index__promo_wrapper
                            .index__promo_text Оставьте телефон и мы вышлем вам свежий каталог продукции
                            a(href="#m_catalog" class="index__promo_btn ui__btn ui__btn-red js_modal") Получить каталог
                            .index__promo_pic
                                img(src=IMG_PATH + "main/promo.png" alt="Каталог продукции")

        section.index__seo.section
            .grid.grid--container
                .row
                    .col.col--md-8
                        .index__seo_wrapper
                            h3.index__seo_title Мы предлагаем полный <br>ассортимент фасадов
                            p Фабрика «Пастернак» обладает мощной технологической базой и большим опытом изготовления. Для производства фасадов мы применяем только современные, прочные и экологически чистые сертифицированные материалы ведущих поставщиков (Arpa, Lemark, Abet, Rehau, Sowat, Мелатон).
                            p Наши фасады  изготовлены с полным соблюдением технологического регламента. На протяжении всего процесса производства обеспечивается жесткий контроль качества выпускаемой продукции.​
                            p Наше производство, единственное в регионе, оснащено большими покрасочными камерами, позволяющими красить поверхности длиной до 3 м.​
                            p ​Тщательный анализ закупаемых материалов, строжайший контроль на всех этапах производства позволил нам установить ГАРАНТИЮ на все изделия 2 ГОДА!
                            p
                                | Использование в производстве высокотехнологичного оборудования (Beaven, Holzher, SCM) позволяет нам производить фасады сложных криволинейных форм, с радиусными отполированными краями и повторять текстуру пластика; 4D фрезерный станок ЧПУ  позволяет производить  объемную фрезеровку.
                                | ​<br>Обработка фасадов на фрезерном станке ЧПУ позволяет в точности выдержать все заданные размеры изделия и значительно повысить качество обработки, в отличии от ручного труда.

                        .index__seo_doors
                            img(src=IMG_PATH + 'main/door1.png' alt="Дверь 1" class="index__seo_door index__seo_door-door1")
                            img(src=IMG_PATH + 'main/door2.png' alt="Дверь 2" class="index__seo_door index__seo_door-door2")
                            img(src=IMG_PATH + 'main/door3.png' alt="Дверь 3" class="index__seo_door index__seo_door-door3")
                            img(src=IMG_PATH + 'main/door4.png' alt="Дверь 4" class="index__seo_door index__seo_door-door4")

block footer
    include ../layout/_footer

block modals
    include ../modals/_m_call
    include ../modals/_m_catalog