extends ../layout/_layout

block title
    | Пастернак – фабрика фасадов

block header
    include ../layout/_header

block content
    main.main.ui__content(role="main")
        .ui__content_header.ui__content_header-bread
            .grid.grid--container
                .row
                    .col.col--xs-12
                        +ui__breadcrumbs(
                            {
                                text: 'Продукция',
                                link: '#',
                                plane: false
                            },
                            {
                                text: 'Материалы',
                                link: '#',
                                plane: false
                            },
                            {
                                text: 'Листовой пластик',
                                link: '#',
                                plane: false
                            }
                        )

                        h1.ui__content_title Пластик HPL Arpa Aleve


block footer
    include ../layout/_footer

block modals
    include ../modals/_m_call