extends ../layout/_layout

block title
    | Пастернак – фабрика фасадов

block header
    include ../layout/_header

block content
    main.main.ui__content(role="main")
        .ui__content_header.ui__content_header-bread
            .grid.grid--container
                .row
                    .col.col--xs-12
                        +ui__breadcrumbs(
                        {
                            text: 'Рубрикатор',
                            link: '#',
                            plane: false
                        }
                        )

                        h1.ui__content_title Рубрикатор
                        br
                        ui
                            li
                                a(href="index.html" target="_blank") Главная
                            li
                                a(href="catalog.html" target="_blank") Каталог
                            li
                                a(href="catalog_colors.html" target="_blank") Каталог цветов
                            li
                                a(href="catalog_dekor.html" target="_blank") Каталог декора
                            li
                                a(href="product.html" target="_blank") Продукт
                            li
                                a(href="product_material.html" target="_blank") Материал
                            li
                                a(href="news.html" target="_blank") Новости
                            li
                                a(href="info.html" target="_blank") Информация для покупателя
                            li
                                a(href="promo.html" target="_blank") Акции
                            li
                                a(href="about.html" target="_blank") О нас
                            li
                                a(href="partnership.html" target="_blank") Партнерство
                            li
                                a(href="contacts.html" target="_blank") Контакты
                            li
                                a(href="404.html" target="_blank") 404

block footer
    include ../layout/_footer

block modals
    include ../modals/_m_call