extends ../layout/_layout

block title
    | Пастернак – фабрика фасадов

block header
    include ../layout/_header

block content
    main.main.ui__content(role="main")
        .ui__content_header.ui__content_header-bread
            .grid.grid--container
                .row
                    .col.col--md-7
                        +ui__breadcrumbs(
                        {
                            text: 'Новости',
                            link: '#',
                            plane: false
                        }
                        )

                        .ui__content_news
                            .ui__content_date 10 октября 2017
                            h2.ui__content_subheader На территории фабрики открылся дисконт-центр

        .ui__content_wrapper
            section.ui__content_section
                .grid.grid--container
                    .row
                        .col.col--md-8
                            .ui__imgslider.ui__imgslider-titled.owl-carousel.js_imgslider
                                include ../blocks/_ui_imgslider
                                +ui__imgslider(
                                true,
                                {
                                    img: IMG_PATH + 'news/news_pic1.jpg',
                                    alt: 'Новая модель в каталоге'
                                },
                                {
                                    img: IMG_PATH + 'news/news_pic2.jpg',
                                    alt: 'Новая модель в каталоге1'
                                }
                                )

                            .news__content
                                p На территории фабрики «МЕБЕЛЬЩИК» открылся дисконт-центр. Приглашаем покупателей с выгодой приобрести кухню.
                                p Активное изучение интересов и потребностей наших покупателей, а также тщательный мониторинг рынка мебельной продукции, проводимый специалистами компании "Мебельщик" еще с 2000 года, привели к решению организовать собственное производство такого материала как фасады МДФ.
                                p Ждем Вас по адресу: Рязань, район Строитель, 7А. Звоните. Тел. 8 (4912) 70-10-88


                        .col.col--md-4
                            .ui__card
                                .ui__card_section
                                    h3.ui__card_header Новости
                                    .ui__card_item
                                        .ui__card_item_date 10 октября
                                        a(href="#" class="ui__card_item_link") Новый декор столешниц Veroy – «Горный минерал»
                                    .ui__card_item
                                        .ui__card_item_date 9 октября
                                        a(href="#" class="ui__card_item_link") Распродажа кухонь
                                    .ui__card_item
                                        .ui__card_item_date 8 сентября
                                        a(href="#" class="ui__card_item_link") Распил ЛДСП по вашим размерам

                                .ui__card_section
                                    h3.ui__card_header Статьи
                                    .ui__card_item
                                        a(href="#" class="ui__card_item_link") Как выбрать кухню
                                    .ui__card_item
                                        a(href="#" class="ui__card_item_link") Преимущества фасадов из пластика
                                    .ui__card_item
                                        a(href="#" class="ui__card_item_link") Фасады из массива

                                .ui__card_section
                                    h3.ui__card_header Акции
                                    .ui__card_item
                                        .ui__card_item_date 20 – 30 сентября
                                        a(href="#" class="ui__card_item_link") Скидка на фасады из шпона


block footer
    include ../layout/_footer

block modals
    include ../modals/_m_call