extends ../layout/_layout

block title
    | Пастернак – фабрика фасадов

block header
    include ../layout/_header

block content
    main.main.ui__content(role="main")
        .ui__content_header
            .grid.grid--container
                .row
                    .col.col--xs-12
                        h1.ui__content_title Новости
        .ui__content_wrapper
            .grid.grid--container
                .row
                    .col.col--xs-12
                        section.ui__news_grid.section
                            include ../blocks/_ui_news

                            +ui__news(
                                2,
                                {
                                    img: IMG_PATH + 'news/news_pic1.jpg',
                                    date: '12 октября',
                                    title: 'На территории фабрики &laquo;МЕБЕЛЬЩИК&raquo; открылся дисконт-центр',
                                    link: '#'
                                },
                                {
                                    img: IMG_PATH + 'news/news_pic2.jpg',
                                    date: '10 октября',
                                    title: 'Новая модель в каталоге',
                                    link: '#'
                                },
                                {
                                    img: IMG_PATH + 'news/news_pic1.jpg',
                                    date: '12 октября',
                                    title: 'На территории фабрики &laquo;МЕБЕЛЬЩИК&raquo; открылся дисконт-центр',
                                    link: '#'
                                },
                                {
                                    img: IMG_PATH + 'news/news_pic2.jpg',
                                    date: '10 октября',
                                    title: 'Новая модель в каталоге',
                                    link: '#'
                                },
                                {
                                    img: IMG_PATH + 'news/news_pic1.jpg',
                                    date: '12 октября',
                                    title: 'На территории фабрики &laquo;МЕБЕЛЬЩИК&raquo; открылся дисконт-центр',
                                    link: '#'
                                },
                                {
                                    img: IMG_PATH + 'news/news_pic2.jpg',
                                    date: '10 октября',
                                    title: 'Новая модель в каталоге',
                                    link: '#'
                                }
                            )


block footer
    include ../layout/_footer

block modals
    include ../modals/_m_call