extends ../layout/_layout

block title
    | Пастернак – фабрика фасадов

block header
    include ../layout/_header

block content
    main.main.ui__content(role="main")
        .ui__content_header
            .grid.grid--container
                .row
                    .col.col--xs-12
                        h1.ui__content_title Сотрудничество

        .ui__content_wrapper
            section
                .grid.grid--container
                    .row
                        .col.col--md-8
                            p Дорогие друзья, коллеги-мебельщики. Будем рады видеть Вас в числе наших клиентов!

                    .row
                        .col.col--xs-12
                            .ui__content_pic_wrap
                                img(src=IMG_PATH + 'content/pic1.jpg' alt="Сотрудничество" class="ui__content_pic")

            section.ui__content_section
                .grid.grid--container
                    .row.ui__content_row
                        .col.col--md-8
                            h2.ui__content_subtitle Почему стоит покупать фасады именно у нас?
                    .row
                        .col.col--md-8
                            h4.ui__content_subheader Самый большой ассортимент
                            p Мы единственные в регионе изготавливаем полный спектр фасадов с разными технологиями изготовления (массив, натуральный шпон, краска, пластик, пленка ПВХ)
                            p Многолетнее сотрудничество с одним поставщиком гарантирует нам стабильное качество пленки по толщине и цвету. <br>Вам не придется искать разных поставщиков, все можно заказать у нас, что позволит значительно экономить на логистике.
                            p Благодаря разнообразию фактур, форм, фрезеровок и цветов в нашем ассортименте Вы сможете подобрать модели, позволяющие оформить мебель в любом стиле - от классики до модерна, от минимализма до кантри.

                        .col.col--md-4
                            +ui__card('2 года', 'Гарантия на все изделия', true)

                    .row
                        .col.col--md-8
                            h4.ui__content_subheader Стабильно высокое качество
                            p Для производства фасадов мы применяем только современные, прочные и экологически чистые материалы ведущих поставщиков (Arpa, Abet, Lemark, Rehau, Jowat, Мелатон). Все материалы отвечают европейскому стандарту безопасности Е1. <br>Тщательный анализ закупаемых материалов, строжайший контроль на всех этапах производства позволили нам установить ГАРАНТИЮ на все изделия 2 ГОДА!

                            h4.ui__content_subheader Нестандартные размеры
                            p Мы производим фасады нестандартных размеров, в том числе больших размеров до 3 метров в длину, позволяя Вам и Вашим клиентам воплотить любые дизайнерские решения.

                        .col.col--md-4
                            +ui__card('3 метра', 'Максимальная длина фасадов', true)

                    .row
                        .col.col--md-8
                            h4.ui__content_subheader Выгодные условия оплаты и скидки
                            p Мы имеем эксклюзивные скидки у поставщиков, не арендуем дорогостоящие производственные площади и оборудование, а имеем их в собственности. Это позволяет нам устанавливать на наш продукт разумные цены.

                            h4.ui__content_subheader Четкое соблюдение сроков изготовления
                            p Мы понимаем, как Важно для Вас выполнить заказ в срок, поэтому это является одним из наших главных приоритетов

                            h4.ui__content_subheader Выгодные условия доставки
                            ul.ui__content_list
                                li Бесплатно доставляем продукцию в города Рязань, Тула и Коломна.
                                li По минимальным тарифам доставляем продукцию ж/д и автотранспортом.
                                li Доставляем продукцию до транспортных компаний г. Москвы.
                                li При отправке через транспортные компании бесплатно делаем усиленную упаковку, которая обеспечивает сохранность Ваших фасадов при перевозке на любые расстояния.

                            h4.ui__content_subheader Высокий уровень обслуживания
                            p Мы заботимся о наших клиентах, нашим главным приоритетом является соблюдение Ваших интересов. Мы отслеживаем все этапы прохождения клиентских заказов с момента размещения до получения со склада.
                            p Для Вас работают профессиональные менеджеры, готовые помочь и подсказать любую интересующую информацию! Ваши сотрудники получат максимальный объём знаний по ассортименту, техническим особенностям, об условиях эксплуатации и преимуществах нашей продукции.

                        .col.col--md-4
                            +ui__card('%', '<strong>Скидки</strong> <br> <ul class="ui__content_list"><li>На выставочные образцы</li><li>По результатам работы партнера</li><li>Специальные предложения и акции</li>', true)

                    .row
                        .col.col--md-8
                            blockquote Такие партнерские отношения выбрали более 400 клиентов по всей России. Присоединяйтесь к нам!

block footer
    include ../layout/_footer

block modals
    include ../modals/_m_call