extends ../layout/_layout

block title
    | Пастернак – фабрика фасадов

block header
    include ../layout/_header

block content
    main.main.ui__content(role="main")
        .ui__content_header
            .grid.grid--container
                .row
                    .col.col--md-9.col--xs-12.col--sm-12
                        h1.ui__content_title Защита персональной информации

        .ui__content_wrapper
            section.ui__content_section
                .grid.grid--container
                    .row
                        .col.col--md-9.col--xs-12.col--sm-12
                            p Пользователь, оставляя заявку на интернет-сайте, принимает настоящее Согласие на обработку персональных данных (далее – Согласие). Действуя свободно, своей волей и в своем интересе, а также подтверждая свою дееспособность, Пользователь дает свое согласие, которое расположено по адресу: г. Рязань, Район Строитель, 7А на обработку своих персональных данных со следующими условиями:
                            p 1. Данное Согласие дается на обработку персональных данных, как без использования средств автоматизации, так и с их использованием.
                            p 2. Согласие дается на обработку следующих моих персональных данных: - Персональные данные, не являющиеся специальными или биометрическими: номера контактных телефонов; фамилия, имя и отчество; адреса электронной почты; место работы и занимаемая должность; пользовательские данные (сведения о местоположении; тип и версия ОС; тип и версия Браузера; тип устройства и разрешение его экрана; источник откуда пришел на сайт пользователь; с какого сайта или по какой рекламе; язык ОС и Браузера; какие страницы открывает и на какие кнопки нажимает пользователь; ip-адрес.
                            p 3. Персональные данные не являются общедоступными.
                            p 4. Цель обработки персональных данных: обработка входящих запросов физических лиц с целью оказания консультирования; аналитики действий физического лица на веб-сайте и функционирования веб-сайта; проведение рекламных и новостных рассылок.
                            p 5. Основанием для обработки персональных данных является: ст. 24 Конституции Российской Федерации; ст.6 Федерального закона №152-ФЗ «О персональных данных»; Устав  настоящее согласие на обработку персональных данных
                            p 6. В ходе обработки с персональными данными будут совершены следующие действия: сбор; запись; систематизация; накопление; хранение; уточнение (обновление, изменение); извлечение; использование; передача (распространение, предоставление, доступ); блокирование; удаление; уничтожение.
                            p 7. Персональные данные обрабатываются до отписки физического лица от рекламных и новостных рассылок. Также обработка персональных данных может быть прекращена по запросу субъекта персональных данных. Хранение персональных данных, зафиксированных на бумажных носителях осуществляется согласно Федеральному закону №125-ФЗ «Об архивном деле в Российской Федерации» и иным нормативно правовым актам в области архивного дела и архивного хранения.
                            p 8. Согласие может быть отозвано субъектом персональных данных или его представителем путем направления письменного заявления или его представителю по адресу, указанному в начале данного Согласия.
                            p 9. В случае отзыва субъектом персональных данных или его представителем согласия на обработку персональных данных  вправе продолжить обработку персональных данных без согласия субъекта персональных данных при наличии оснований, указанных в пунктах 2 – 11 части 1 статьи 6, части 2 статьи 10 и части 2 статьи 11 Федерального закона №152-ФЗ «О персональных данных» от 27.07.2006 г.
                            p 10. Настоящее согласие действует все время до момента прекращения обработки персональных данных, указанных в п.7 и п.8 данного Согласия.


block footer
    include ../layout/_footer

block modals
    include ../modals/_m_call