extends ../layout/_layout

block title
    | Пастернак – фабрика фасадов

block header
    include ../layout/_header

block content
    main.main.ui__product(role="main")
        .ui__content_header.ui__content_header-bread
            .grid.grid--container
                .row
                    .col.col--xs-12
                        +ui__breadcrumbs(
                            {
                                text: 'Продукция',
                                link: '#',
                                plane: false
                            },
                            {
                                text: 'Фасады',
                                link: '#',
                                plane: false
                            }
                        )

                        h1.ui__content_title Альберто дерево

        .ui__product_wrapper
            .grid.grid--container
                .row
                    .col.col--md-4.product__box.js_prodbox
                        .product__preview.js_product
                            .product_pic_wrap
                                img(src=IMG_PATH + 'production/single/preview.jpg' alt="Альберто дерево" class="product_pic" id="preview")

                            a.product_pdf(href="#")
                                span.product_pdf_text Скачать pdf с технической информацией этого фасада
                                span.product_pdf_size 1.2 МБ

                            a.product_btn(href="#m_catalog" class="ui__btn ui__btn-red js_modal") Запросить прайс

                    .col.col--md-8
                        section.product__section
                            .product__slider.ui__imgslider.owl-carousel.js_imgslider
                                include ../blocks/_ui_imgslider

                                +ui__imgslider(
                                    false,
                                    {
                                        img: IMG_PATH + 'production/single/slider1.jpg',
                                        alt: 'Описание1'
                                    },
                                    {
                                        img: IMG_PATH + 'production/single/slider1.jpg',
                                        alt: 'Описание2'
                                    },
                                    {
                                        img: IMG_PATH + 'production/single/slider1.jpg',
                                        alt: 'Описание3'
                                    }
                                )

                            p Многообразие декоров, широкая цветовая гамма, разнообразие поверхностей, технические характеристики, эстетичность, практичность, гигиеничность <br>все те качества, которые способствуют многопрофильному применению данного материала и позволяют дополнить интерьер необходимыми элементами.


                        section.product__section
                            .row
                                .col.col--xs-12
                                    h2.ui__content_subtitle Варианты исполнения
                            .row.product__var
                                .col.col--md-3.col--xs-6.col--sm-6
                                    img(src=IMG_PATH + 'production/single/variants/var1.svg' alt="Фасад глухой" class="product__var_pic")
                                    .product__var_title Фасад глухой
                                .col.col--md-3.col--xs-6.col--sm-6
                                    img(src=IMG_PATH + 'production/single/variants/var2.svg' alt="Витрина" class="product__var_pic")
                                    .product__var_title Витрина
                                .col.col--md-3.col--xs-6.col--sm-6
                                    img(src=IMG_PATH + 'production/single/variants/var3.svg' alt="Решетка" class="product__var_pic")
                                    .product__var_title Решетка
                                .col.col--md-3.col--xs-6.col--sm-6
                                    img(src=IMG_PATH + 'production/single/variants/var4.svg' alt="Декоративная решетка" class="product__var_pic")
                                    .product__var_title Декоративная решетка


                        section.product__section
                            .row
                                .col.col--xs-12
                                    h2.ui__content_subtitle Дополнительные элементы
                            .row.product__dop
                                .col.col--md-6
                                    img(src=IMG_PATH + 'production/single/dop1.jpg' alt="Декор" class="product__dop_pic")
                                    .product__dop_title Декор
                                .col.col--md-6
                                    img(src=IMG_PATH + 'production/single/dop2.jpg' alt="Декор" class="product__dop_pic")
                                    .product__dop_title Декор


                        section.product__section
                            h2.ui__content_subtitle Популярные цвета
                            .product__colors
                                a.product__colors_item(href="#preview" data-img=IMG_PATH + 'production/single/preview1.jpg' class="js_preview")
                                    img(src=IMG_PATH + 'production/single/colors/col1.jpg' alt="Цвет1" class="product__colors_pic")
                                a.product__colors_item(href="#preview" data-img=IMG_PATH + 'production/single/preview2.jpg' class="js_preview")
                                    img(src=IMG_PATH + 'production/single/colors/col2.jpg' alt="Цвет2" class="product__colors_pic")
                                a.product__colors_item(href="#preview" data-img=IMG_PATH + 'production/single/preview3.jpg' class="js_preview")
                                    img(src=IMG_PATH + 'production/single/colors/col3.jpg' alt="Цвет3" class="product__colors_pic")
                                a.product__colors_item(href="#preview" data-img=IMG_PATH + 'production/single/preview4.jpg' class="js_preview")
                                    img(src=IMG_PATH + 'production/single/colors/col4.jpg' alt="Цвет4" class="product__colors_pic")


                        section.product__section
                            h2.ui__content_subtitle Фасады из этой категории
                            .ui__prodslider.owl-carousel.js_prodslider
                                include ../blocks/_ui_prodslider
                                +ui__prodslider(
                                    'default',
                                    {
                                        img: IMG_PATH + 'catalog/cat1.jpg',
                                        title: 'Альберо дерево',
                                        link: '#'
                                    },
                                    {
                                        img: IMG_PATH + 'catalog/cat2.jpg',
                                        title: 'Констанция',
                                        link: '#'
                                    },
                                    {
                                        img: IMG_PATH + 'catalog/cat3.jpg',
                                        title: 'Альберо диретто',
                                        link: '#'
                                    },
                                    {
                                        img: IMG_PATH + 'catalog/cat4.jpg',
                                        title: 'Балтимора',
                                        link: '#'
                                    },
                                    {
                                        img: IMG_PATH + 'catalog/cat5.jpg',
                                        title: 'Альберо луиза',
                                        link: '#'
                                    }
                                )

block footer
    include ../layout/_footer

block modals
    include ../modals/_m_call
    include ../modals/_m_catalog
    include ../modals/_m_letter