extends ../layout/_layout

block title
    | Пастернак – фабрика фасадов

block header
    include ../layout/_header

block content
    main.main.ui__product(role="main")
        .ui__content_header.ui__content_header-bread
            .grid.grid--container
                .row
                    .col.col--xs-12
                        +ui__breadcrumbs(
                            {
                                text: 'Продукция',
                                link: '#',
                                plane: false
                            },
                            {
                                text: 'Материалы',
                                link: '#',
                                plane: false
                            },
                            {
                                text: 'Листовой пластик',
                                link: '#',
                                plane: false
                            }
                        )

                        h1.ui__content_title Пластик HPL Arpa Aleve

        .ui__product_wrapper
            .grid.grid--container
                .row
                    .col.col--md-4
                        .product__preview
                            .product_pic_wrap
                                img(src=IMG_PATH + 'production/single/preview1.jpg' alt="Пластик" class="product_pic" id="preview")

                            a.product_pdf(href="#")
                                span.product_pdf_text Скачать pdf с технической информацией этого материала
                                span.product_pdf_size 1.2 МБ

                            a.product_btn(href="#" class="ui__btn ui__btn-red") Запросить прайс

                    .col.col--md-8
                        section.product__section
                            p Многообразие декоров, широкая цветовая гамма, разнообразие поверхностей, технические характеристики, эстетичность, практичность, гигиеничность <br>все те качества, которые способствуют многопрофильному применению данного материала и позволяют дополнить интерьер необходимыми элементами.


                        section.product__section
                            h2.ui__content_subtitle Популярные цвета
                            .product__colors
                                a.product__colors_item(href="#preview" data-img=IMG_PATH + 'production/single/preview1.jpg' class="js_preview")
                                    img(src=IMG_PATH + 'production/single/colors/col1.jpg' alt="Цвет1" class="product__colors_pic")
                                a.product__colors_item(href="#preview" data-img=IMG_PATH + 'production/single/preview2.jpg' class="js_preview")
                                    img(src=IMG_PATH + 'production/single/colors/col2.jpg' alt="Цвет2" class="product__colors_pic")
                                a.product__colors_item(href="#preview" data-img=IMG_PATH + 'production/single/preview3.jpg' class="js_preview")
                                    img(src=IMG_PATH + 'production/single/colors/col3.jpg' alt="Цвет3" class="product__colors_pic")
                                a.product__colors_item(href="#preview" data-img=IMG_PATH + 'production/single/preview4.jpg' class="js_preview")
                                    img(src=IMG_PATH + 'production/single/colors/col4.jpg' alt="Цвет4" class="product__colors_pic")


block footer
    include ../layout/_footer

block modals
    include ../modals/_m_call