extends ../layout/_layout

block title
    | Пастернак – фабрика фасадов

block header
    include ../layout/_header

block content
    main.main.ui__content(role="main")
        .ui__content_header
            .grid.grid--container
                .row
                    .col.col--xs-12
                        h1.ui__content_title Акции
        .ui__content_wrapper
            .grid.grid--container
                .row
                    .col.col--xs-12
                        section.news__promo_item.ui__content_section
                            .row
                                .col.col--md-6
                                    .news__promo_pic_wrap
                                        img(src=IMG_PATH + "main/production.jpg" alt="Скидка на фасады из шпона" class="news__promo_pic")

                                .col.col--md-6
                                    .news__promo_inner
                                        .news__promo_header С 23 мая по 30 июня
                                        .news__promo_content
                                            h3.news__promo_title Скидка на фасады из шпона
                                            p Для фасадов мы используем итальянский пластик «Arpa», отличительной особенностью которого является широкий ассортимент глянцевых фантазийных и перламутровых декоров, а так же его высокое качество.
                                            p Многообразие декоров, широкая цветовая гамма, разнообразие поверхностей, технические характеристики, эстетичность, практичность, гигиеничность
                                            a(href="#" class="news__promo_btn ui__btn") Посмотреть каталог

                        section.news__promo_item.ui__content_section
                            .row
                                .col.col--md-6
                                    .news__promo_pic_wrap
                                        img(src=IMG_PATH + "main/production.jpg" alt="Скидка на фасады из шпона" class="news__promo_pic")

                                .col.col--md-6
                                    .news__promo_inner
                                        .news__promo_header С 23 мая по 30 июня
                                        .news__promo_content
                                            h3.news__promo_title Скидка на фасады из шпона
                                            p Для фасадов мы используем итальянский пластик «Arpa», отличительной особенностью которого является широкий ассортимент глянцевых фантазийных и перламутровых декоров, а так же его высокое качество.
                                            p Многообразие декоров, широкая цветовая гамма, разнообразие поверхностей, технические характеристики, эстетичность, практичность, гигиеничность
                                            a(href="#" class="news__promo_btn ui__btn") Посмотреть каталог


block footer
    include ../layout/_footer

block modals
    include ../modals/_m_call