extends ../layout/_layout

block title
    | Пастернак – фабрика фасадов

block header
    include ../layout/_header

block content
    main.main.ui__content(role="main")
        .ui__content_header
            .grid.grid--container
                .row
                    .col.col--md-9.col--xs-12.col--sm-12
                        h1.ui__content_title Вакансии
                        .ui__vacancy_filter
                            ul.ui__vacancy_filter_list
                                li.ui__vacancy_filter_item
                                    a.ui__vacancy_filter_link.js_filter(href="#sales") Продажи
                                li.ui__vacancy_filter_item
                                    a.ui__vacancy_filter_link.js_filter(href="#production") Производство

        .ui__content_wrapper
            section.ui__content_section.ui__vacancy_section
                .grid.grid--container
                    .row
                        .col.col--xs-12
                            .ui__vacancy_list
                                .ui__vacancy_item(data-filter="sales" class="js_filtertarget")
                                    a(href="#" class="ui__vacancy_title") Менеджер отдела продаж
                                    .ui__vacancy_inner
                                        .ui__vacancy_left
                                            .ui__vacancy_text
                                                p Основная задача менеджера – поддерживать и развивать существующую клиентскую базу в сегменте b2b. Обязанности: Продвижение продуктов компании.
                                                p Желание работать и развиваться в продажах. Навыки делового общения и активных продаж. Опыт работы в b2b продажах - обязателен.
                                            a(href="#m_vacancy" class="ui__vacancy_btn ui__btn") Отправить резюме
                                        .ui__vacancy_right
                                            .ui__vacancy_price от 30 000 &#8399;
                                            .ui__vacancy_type Полный рабочий день
                                            .ui__vacancy_city Рязань

                                .ui__vacancy_item(data-filter="sales" class="js_filtertarget")
                                    a(href="#" class="ui__vacancy_title") Менеджер отдела продаж
                                    .ui__vacancy_inner
                                        .ui__vacancy_left
                                            .ui__vacancy_text
                                                p Основная задача менеджера – поддерживать и развивать существующую клиентскую базу в сегменте b2b. Обязанности: Продвижение продуктов компании.
                                                p Желание работать и развиваться в продажах. Навыки делового общения и активных продаж. Опыт работы в b2b продажах - обязателен.
                                            a(href="#m_vacancy" class="ui__vacancy_btn ui__btn") Отправить резюме
                                        .ui__vacancy_right
                                            .ui__vacancy_price от 30 000 &#8399;
                                            .ui__vacancy_type Полный рабочий день
                                            .ui__vacancy_city Рязань

                                .ui__vacancy_item(data-filter="production" class="js_filtertarget")
                                    a(href="#" class="ui__vacancy_title") Инженер
                                    .ui__vacancy_inner
                                        .ui__vacancy_left
                                            .ui__vacancy_text
                                                p Основная задача менеджера – поддерживать и развивать существующую клиентскую базу в сегменте b2b. Обязанности: Продвижение продуктов компании.
                                                p Желание работать и развиваться в продажах. Навыки делового общения и активных продаж. Опыт работы в b2b продажах - обязателен.
                                            a(href="#m_vacancy" class="ui__vacancy_btn ui__btn") Отправить резюме
                                        .ui__vacancy_right
                                            .ui__vacancy_price от 30 000 &#8399;
                                            .ui__vacancy_type Полный рабочий день
                                            .ui__vacancy_city Рязань


block footer
    include ../layout/_footer

block modals
    include ../modals/_m_call