extends ../layout/_layout

block title
    | Пастернак – фабрика фасадов

block header
    include ../layout/_header

block content
    main.main.ui__content(role="main")
        .ui__content_header
            .grid.grid--container
                .row
                    .col.col--xs-12
                        h1.ui__content_title Специалист на производство

        .ui__content_wrapper
            section.ui__content_section
                .grid.grid--container
                    .row
                        .col.col--md-8
                            .ui__vacancy_textblock
                                h4.ui__content_subheader Обязнности:
                                ul.ui__content_list
                                    li Организация бесперебойной работы производства на всех этапах производственного цикла;
                                    li Распределение заданий между работниками, контроль работы;
                                    li Контроль качества кроя, соответствия цвета деталей, изделий, прикладных материалов;
                                    li Устранение мелких неполадок в работе обслуживаемых машин;
                                    li Поиск сотрудников.

                            .ui__vacancy_textblock
                                h4.ui__content_subheader Требования:
                                ul.ui__content_list
                                    li Гражданство РФ;
                                    li Опыт работы в аналогичной должности от 1 года;
                                    li Высшее/неполное высшее образование.

                            .ui__vacancy_textblock
                                h4.ui__content_subheader Условия:
                                ul.ui__content_list
                                    li Оформление в соответствии с ТК РФ.
                                    li Ежегодный отпуск
                                    li Премиальная система вознаграждения зависящая от выработки

                        .col.col--md-4
                            .ui__card.ui__vacancy_card
                                .ui__vacancy_card_price от 30 000 &#8399;
                                .ui__vacancy_card_type Полный рабочий день
                                .ui__vacancy_card_city Рязань

                        .col.col--xs-12
                            .ui__vacancy_address <strong>Адрес:</strong> г. Рязань, Район Строитель, 7А

                            #vacancy_map.ui__vacancy_map
                                script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A2f518a3eaff66b1a776983a2f8ace0bc1b9b1b49a8ef95024189e9398970670e&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=true;id=vacancy_map")

                            a(href="#" class="ui__vacancy_btn ui__btn") Отправить резюме



block footer
    include ../layout/_footer

block modals
    include ../modals/_m_call