footer.footer
    .grid.grid--container
        .row
            .col.col--md-2
                img(src=IMG_PATH + "logo.svg" class="footer__logo")

            .col.col--md-6
                ul.footer__nav
                    +menuitem("Продукция", "#").footer__nav_item
                    +menuitem("Сотрудничество", "#").footer__nav_item
                    +menuitem("О компании", "#").footer__nav_item
                    +menuitem("Контакты", "#").footer__nav_item
                    +menuitem("Акции", "#").footer__nav_item

                    +menuitem("Вакансии", "#").footer__nav_item
                    +menuitem("Новости", "#").footer__nav_item
                    +menuitem("Информация для покупателей", "#").footer__nav_item
                    +menuitem("Продажа материалов", "#").footer__nav_item

            .col.col--md-4
                a(href="#m_letter" class="ui__btn ui__btn-red footer__call js_modal") Напишите нам
                a(href="tel:+74912243737" class="footer__phone") +7 4912 24-37-37

                a(href="mailto:info@pasternak.ru" class="footer__mail") info@pasternak.ru
                a(href="#" class="footer__address" target="_blank") г. Рязань, Район Строитель, 7А

                ul.footer__social
                    li.footer__social_item
                        a(href="#" class="footer__social_link" target="_blank")
                            img(src=IMG_PATH + "icons/fb.svg" alt="Facebook" class="footer__social_ico")

                    li.footer__social_item
                        a(href="#" class="footer__social_link" target="_blank")
                            img(src=IMG_PATH + "icons/vk.svg" alt="Facebook" class="footer__social_ico")
