header.header
    .header__top.js_headertop
        .grid.grid--container
            .row
                .col.col--md-8
                    ul.header__menu
                        +menuitem("О компании", "#").header__menu_item
                        +menuitem("Акции", "#").header__menu_item
                        +menuitem("Новости", "#").header__menu_item
                        +menuitem("Информация для покупателей", "#").header__menu_item
                        +menuitem("Вакансии", "#").header__menu_item
                        +menuitem("Контакты", "#").header__menu_item

                .col.col--md-4
                    .header__contacts
                        a(href="https://yandex.ru/maps/-/CBaVAQvjCB" class="header__contacts_address" target="_blank") г. Рязань, Район Строитель, 7А
                        a(href="mailto:info@pasternak.ru" class="header__contacts_mail") info@pasternak.ru

    .header__main.js_headermain
        .grid.grid--container
            .row
                .col.col--md-8
                    .header__main_left
                        .header__logo_wrap
                            a(href="/" class="header__logo")
                                img(src=IMG_PATH + "logo.svg" alt="Пастернак" class="header__logo_img")

                            a(href="javascript:void(0);" class="header__m_toggle js_mtoggle")

                        a(href="#m_call" class="header__m_call ui__btn ui__btn-red header__call js_modal") Обратный звонок

                        nav(class="header__nav js_mobmenu" role="navigation")

                            ul.header__m_menu
                                +menuitem("О компании", "#").header__m_menu_item
                                +menuitem("Акции", "#").header__m_menu_item
                                +menuitem("Новости", "#").header__m_menu_item
                                +menuitem("Информация для покупателей", "#").header__m_menu_item
                                +menuitem("Вакансии", "#").header__m_menu_item
                                +menuitem("Контакты", "#").header__m_menu_item

                            ul.header__nav_inner
                                li.header__nav_item.header__nav_item-caret
                                    a(href="#" class="header__nav_link js_mobsubmenu") Продукция

                                    .header__submenu
                                        .grid.grid--container
                                            .row
                                                .col.col--md-3.col--xs-6
                                                    a(href="#" class="header__submenu_item")
                                                        .header__submenu_pic_wrap
                                                            img(src=IMG_PATH + "production/prod1.jpg" alt="Фасады")
                                                        .header__submenu_title Фасады

                                                .col.col--md-3.col--xs-6
                                                    a(href="#" class="header__submenu_item")
                                                        .header__submenu_pic_wrap
                                                            img(src=IMG_PATH + "production/prod2.jpg" alt="Цвета")
                                                        .header__submenu_title Цвета

                                                .col.col--md-3.col--xs-6
                                                    a(href="#" class="header__submenu_item")
                                                        .header__submenu_pic_wrap
                                                            img(src=IMG_PATH + "production/prod3.jpg" alt="Сопутствующие")
                                                        .header__submenu_title Сопутствующие

                                                .col.col--md-3.col--xs-6
                                                    a(href="#" class="header__submenu_item")
                                                        .header__submenu_pic_wrap
                                                            img(src=IMG_PATH + "production/prod4.jpg" alt="Декор")
                                                        .header__submenu_title Декор

                                li.header__nav_item
                                    a(href="#" class="header__nav_link") Сотрудничество
                                li.header__nav_item
                                    a(href="#" class="header__nav_link") Продажа материалов

                            .header__m_footer
                                a(href="tel:+74912243737" class="header__m_phone header__phone") +7 4912 24-37-37
                                a(href="https://yandex.ru/maps/-/CBaVAQvjCB" class="header__m_address header__contacts_address" target="_blank") г. Рязань, Район Строитель, 7А
                                a(href="mailto:info@pasternak.ru" class="header__m_mail header__contacts_mail") info@pasternak.ru

                .col.col--md-4.m_hidden
                    .header__main_right
                        a(href="tel:+74912243737" class="header__phone") +7 4912 24-37-37
                        a(href="#m_call" class="ui__btn ui__btn-red header__call js_modal") Обратный звонок

