include ../mixins/_mixins

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(http-equiv='X-UA-Compatible', content="IE=edge")
        meta(name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
        meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
        meta(name="keywords" content="")
        meta(name="description" content="")
        meta(name="format-detection" content="telephone=no")

        link(rel="stylesheet" type='text/css' href="assets/css/libs.min.css")
        link(rel="stylesheet" type='text/css' href="assets/css/app.min.css")

        link(href="/assets/favicons/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57")
        link(href="/assets/favicons/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60")
        link(href="/assets/favicons/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72")
        link(href="/assets/favicons/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76")
        link(href="/assets/favicons/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114")
        link(href="/assets/favicons/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120")
        link(href="/assets/favicons/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144")
        link(href="/assets/favicons/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152")
        link(href="/assets/favicons/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180")
        link(type="image/png" href="/assets/favicons/android-icon-192x192.png" rel="icon" sizes="192x192")
        link(type="image/png" href="/assets/favicons/favicon-32x32.png" rel="icon" sizes="32x32")
        link(type="image/png" href="/assets/favicons/favicon-96x96.png" rel="icon" sizes="96x96")
        link(type="image/png" href="/assets/favicons/favicon-16x16.png" rel="icon" sizes="16x16")
        link(href="/assets/favicons/manifest.json" rel="manifest")

        meta(name="msapplication-TileColor" content="#fafbfc")
        meta(name="msapplication-TileImage" content="/assets/favicons/ms-icon-144x144.png")

        title
            block title
    body
        <!--[if lt IE 8]>
        p.browsehappy
            | Вы используете <strong>устаревший</strong> браузер.
            | Пожалуйста <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>
            | чтобы воспользоваться всем функционалом сайта.
        <![endif]-->

        block header
        block content
        block footer

        block modals

        script(src="assets/js/libs.min.js")
        script(src="assets/js/app.min.js")

