.ui__production
  &_col
    display: flex
    flex-direction: column

    &-margined
      padding-top: 75px

  &_item
    position: relative
    color: #FFFFFF

    &:not(.ui__production_item-infographic)
      height: 450px

    &:not(:last-child)
      margin-bottom: 30px

    &-infographic
      padding: 20px 30px 25px
      background: linear-gradient(104.89deg, #5173B2 0.3%, #202061 99.06%)

    &:hover
      .ui__production_title
        border-color: color-red

      .ui__production_img
        transform: scale(1.1)

  &_count
    font-size: rem-calc(60px)
    line-height: rem-calc(70px)
    font-style: italic
    font-weight: font-extrabold
    margin-bottom: 5px

  &_pic
    display: flex
    position: relative
    overflow: hidden

    &:after
      display: block
      position: absolute
      content: ''
      width: 100%
      height: 100%
      top: 0
      left: 0
      background: linear-gradient(180deg, rgba(89, 62, 62, 0) 0%, rgba(0, 0, 0, 0.51) 100%)

  &_img
    display: block
    height: 100%
    transition: all .85s ease

  &_title
    position: absolute
    bottom: 24px
    left: 30px
    color: #FFFFFF
    padding-bottom: 3px
    font-size: rem-calc(40px)
    line-height: rem-calc(50px)
    font-weight: font-extrabold
    border-bottom: 3px solid transparent

  &_link
    display: block
    position: relative

    &:hover:after
      display: none !important