.ui__advantages
  margin-top: 20px

  &_ico
    display: block
    margin-bottom: 15px

  &_title
    font-weight: font-bold
    margin-bottom: 25px

  &_item
    position: relative
    padding: 25px 30px 50px
    background: #FFFFFF
    box-shadow: 0 29px 108px rgba(24, 31, 81, .12)

    &-blue
      width: 430px
      margin-left: -30px
      color: #FFFFFF
      background: linear-gradient(135.29deg, #5173B2 0.3%, #202061 99.5%)
      z-index: 2

    &:not(.ui__advantages_item-blue)
      margin-top: 70px
      width: 400px

  .col
    &:first-child
      .ui__advantages_item
        z-index: 1

    &:last-child
      .ui__advantages_item
        margin-left: -30px
        z-index: 3
