.ui__reviews
  &_item
    padding: 50px 0 90px

  &_wrapper
    position: relative
    background: #FFFFFF
    padding: 30px 100px 30px 30px
    box-shadow: 0 29px 108px rgba(24, 31, 81, .12)
    z-index: 1

  &_profile
    display: flex
    align-items: flex-end
    margin-bottom: 30px
    margin-top: -60px

    &_pic
      height: 100%

      &_wrap
        overflow: hidden
        width: 120px
        height: 120px

    &_info
      margin-left: 20px

    &_company
      color: #92A2B2
      font-size: rem-calc(14px)
      line-height: rem-calc(15px)

    &_name
      margin-top: 5px
      font-weight: font-bold
      line-height: 1

  &_text
    margin-bottom: 40px

  &_footer
    display: flex
    justify-content: space-between
    align-items: flex-end

    &_item
      display: flex
      flex-direction: column
      align-items: flex-start
      flex-grow: 1
      width: 50%


  &_year
    font-size: rem-calc(24px)
    line-height: rem-calc(26px)
    font-style: italic
    font-weight: font-bold
    margin-bottom: 5px

  &_yeartext
    color: #92A2B2
    font-size: rem-calc(14px)
    line-height: rem-calc(15px)

  &_company
    width: auto !important
    max-width: 100%

  &_picture
    height: 100%

    &_wrap
      position: relative
      overflow: hidden
      width: 470px
      height: 430px
      margin-left: -100px
      margin-top: -50px
      z-index: 2

  &_thumbs
    display: flex
    position: relative
    justify-content: center
    margin-top: -50px
    z-index: 3

  &_thumb
    display: block
    width: 50px
    height: 50px
    cursor: pointer
    overflow: hidden
    box-shadow: none
    border: none
    margin: 0 15px
    background: transparent
    transition: all .05s ease

    &.active
      border: 3px solid color-red

    &_pic
      height: 100%


