.ui__prodgrid
  &_row
    .col
      margin-bottom: 50px

      &:last-child, &:nth-last-child(2)
        margin-bottom: 0

  &_item
    display: block
    position: relative
    border: none !important
    z-index: 1
    outline: none

    &:after
      display: none
      content: ''
      position: absolute
      top: -30px
      left: -30px
      width: calc(100% + 30px)
      height: calc(100% + 60px)
      background: #FFFFFF
      box-shadow: 0 29px 108px rgba(24, 31, 81, .12)
      animation: fadeIn .35s ease
      z-index: -1

    &:hover
      &:after
        display: block

      .ui__prodgrid_title
        border-color: color-red

  &_pic
    display: block
    height: 100%

    &_wrap
      display: flex
      overflow: hidden

      &-default
        max-height: 270px

      &-small
        max-height: 180px

      &-big
        max-height: 510px


  &_title
    display: inline-block
    margin-top: 20px
    font-weight: font-bold
    border-bottom: 3px solid transparent
    transition: all .25s ease
