.ui__vacancy
  &_filter
    &_list
      display: flex
      margin-top: 50px

    &_item
      display: block
      margin: 0 15px

      &:first-child
        margin-left: 0

      &:last-child
        margin-right: 0

  &_list
    margin-top: 50px
    padding-bottom: 100px

  &_item
    display: none
    animation: fadeIn 1s ease
    background: #FFFFFF
    padding: 40px 30px 50px
    box-shadow: 0 26px 70px rgba(24, 31, 81, .07)

    &:not(:last-child)
      margin-bottom: 40px

    &.active
      display: block

  &_inner
    display: flex
    justify-content: space-between

  &_left
    flex-grow: 1

  &_right
    min-width: 270px
    width: 270px
    margin-left: 30px

  &_title
    display: inline-block
    font-size: rem-calc(24px)
    font-weight: font-bold
    margin-bottom: 30px
    color: color-main

  &_text
    margin-bottom: 50px

  &_btn
    display: inline-block

  &_price
    font-size: rem-calc(24px)
    margin-bottom: 20px
    font-weight: font-bold

  &_type
    margin-bottom: 8px

  &_section
    margin-bottom: 50px !important


  &_textblock
    &:not(:last-child)
      margin-bottom: 40px

  &_card
    &_price
      font-size: rem-calc(24px)
      font-weight: font-extrabold
      margin-bottom: 15px

    &_type
      margin-bottom: 10px


  &_address
    margin-top: 40px
    margin-bottom: 30px

  &_map
    box-shadow: 0 26px 70px rgba(24, 31, 81, .07)
    height: 300px
    margin-bottom: 90px

