.ui__mainslider
  &_box
    display: flex

  &_img
    height: 100%

    &_wrap
      position: relative
      flex-grow: 1
      overflow: hidden

  &_count
    display: flex
    align-items: flex-start
    position: absolute
    bottom: 0
    right: 0
    color: #FFFFFF
    font-style: italic
    padding: 25px 30px 28px 11px
    background: linear-gradient(135.29deg, #3A5381 1.65%, #24246D 99.5%)

    &_cur
      display: block
      font-size: rem-calc(56px)
      font-weight: font-bold
      line-height: rem-calc(45px)
      margin-right: 3px

    &_all
      display: block
      opacity: .18
      font-size: rem-calc(25px)


  &_inner
    display: flex
    flex-direction: column
    align-items: flex-start
    padding: 60px 30px 0
    max-width: 400px

  &_title
    display: -webkit-box
    font-size: rem-calc(40px)
    line-height: rem-calc(50px)
    font-weight: font-extrabold
    margin-bottom: 30px
    max-height: 100px
    -webkit-line-clamp: 3
    -webkit-box-orient: vertical
    overflow-x: hidden
    overflow: hidden
    text-overflow: ellipsis

  &_desc
    display: -webkit-box
    margin-bottom: 135px
    max-height: 87px
    -webkit-line-clamp: 3
    -webkit-box-orient: vertical
    overflow-x: hidden
    overflow: hidden
    text-overflow: ellipsis

  &_btn
    display: block
    min-width: 170px
