.ui__timeslider
  margin-top: 10px

  &_item
    padding: 30px
    background: #FFFFFF
    box-shadow: 0 26px 70px rgba(24, 31, 81, .07)
    min-height: 200px
    max-width: 370px
    margin-bottom: 60px

  &_count
    font-size: rem-calc(36px)
    line-height: rem-calc(40px)
    font-weight: font-extrabold
    font-style: italic
    margin-bottom: 10px
