.ui__prodslider
  &_item
    padding-top: 30px

    &:hover
      &:after
        display: none

    .ui__prodgrid_pic
      width: auto !important

  .owl
    &-stage-outer
      z-index: 2
    &-nav
      left: -20px
      width: calc(100% + 40px)
      z-index: 1
    &-prev
      left: -20px
    &-next
      right: -20px