.ui__imgslider
  position: relative

  &_item
    overflow: hidden
    text-align: center

  &-titled
    .ui__imgslider_item
      padding-bottom: 32px

    .owl
      &-dots
        bottom: 50px

  &_pic
    max-width: 100%

  &_title
    position: absolute
    color: #92A2B2
    font-size: rem-calc(16px)
    line-height: rem-calc(22px)
    bottom: 0
    left: 0

  .owl
    &-prev, &-next
      filter: brightness(0) invert(1)
    &-prev
      left: 10px
    &-next
      right: 10px