.ui__news
  &_row
    margin-top: 10px
    margin-left: rem-calc(-30px)
    margin-right: rem-calc(-30px)

    .col
      padding-left: rem-calc(30px)
      padding-right: rem-calc(30px)
      margin-bottom: 80px

      &:last-child, &:nth-last-child(2)
        margin-bottom: 0

  &_grid
    margin-top: 20px

  &_item
    padding: 30px
    background: #FFFFFF
    box-shadow: 0 29px 108px rgba(24, 31, 81, .12)

    &:hover
      .ui__news_title
        border-color: color-red !important

      .ui__news_img
        transform: scale(1.15)

  &_img
    display: block
    height: 100%
    width: 100%
    transition: all .85s ease

    &_wrap
      display: block
      overflow: hidden
      margin-bottom: 20px
      margin-top: -60px
      width: calc(100% + 60px)

      &:hover
        border-color: transparent !important

        &:after
          display: none !important

  &_date
    display: flex
    position: relative
    color: #A1A1A1
    font-size: rem-calc(14px)
    line-height: rem-calc(15px)
    margin-bottom: 10px

    .ui__icon
      margin-right: 6px

  &_title
    font-weight: font-bold


